ttml-java/src/main/resources/xsd/CR-ttaf1-dfxp-20100223/xml.xsd

<xs:schema targetNamespace="http://www.w3.org/XML/1998/namespace" xml:lang="en"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attribute name="base" type="xs:anyURI"/>
  <xs:attribute name="id" type="xs:ID"/>
  <xs:attribute name="lang" type="xs:language"/>
  <xs:attribute name="space">
    <xs:simpleType>
      <xs:restriction base="xs:NCName">
        <xs:enumeration value="default"/>
        <xs:enumeration value="preserve"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
</xs:schema>
