itunes-conversion-input-xsd/src/main/resources/xsd/metadata/itunes-metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2016 Netflix, Inc.

        This file is part of IMF Conversion Utility.

        IMF Conversion Utility is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        IMF Conversion Utility is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with IMF Conversion Utility.  If not, see <http://www.gnu.org/licenses/>.

-->
<xs:schema xmlns="http://apple.com/itunes/importer"
           xmlns:iso-3166-1="http://iso3166.metadata.itunes.imfutility.netflix.com"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://apple.com/itunes/importer"
           version="1.1">

    <xs:import schemaLocation="iso-3166-1.xsd" namespace="http://iso3166.metadata.itunes.imfutility.netflix.com"/>

    <!-- Must be formatted according to xmllint format style -->
    <!-- Empty tags and null data not allowed -->

    <!--
      Root element
    -->
    <xs:element name="package" type="PackageType"/>

    <!--
      Root type
    -->
    <xs:complexType name="PackageType">
        <xs:sequence>
            <xs:element name="provider" type="xs:string"/>
            <xs:element name="language" type="LanguageType"/>
            <xs:element name="video" type="VideoType"/>
        </xs:sequence>
        <xs:attribute name="version" type="xs:string" use="required" fixed="film5.0"/>
    </xs:complexType>

    <xs:complexType name="VideoType">
        <xs:sequence>
            <xs:element name="type" type="VideoTypeType"/>
            <xs:element name="subtype" type="VideoTypeSubType"/>
            <xs:element name="vendor_offer_code" type="VendorType" minOccurs="0"/>
            <xs:element name="vendor_id" type="VendorType"/>
            <xs:element name="isan" type="IsanType" minOccurs="0"/>
            <xs:element name="upc" type="xs:string" minOccurs="0"/>
            <xs:element name="country" type="iso-3166-1:ISO3166CountryCode"/>
            <xs:element name="original_spoken_locale" type="LanguageType" minOccurs="0"/>
            <xs:group ref="TitleGroup"/>
            <xs:element name="locales" type="LocalesTitleType" minOccurs="0"/>
            <xs:element name="production_company" type="string255"/>
            <xs:group ref="ReleaseGroup"/>
            <xs:element name="regions" type="RegionsType" minOccurs="0"/>
            <xs:element name="genres" type="GenresType"/>
            <xs:element name="ratings" type="RatingsType"/>
            <xs:choice>
                <xs:sequence>
                    <xs:element name="cast" type="CastType"/>
                    <xs:element name="crew" type="CrewType"/>
                </xs:sequence>
                <xs:element name="artists" type="ArtistsType"/>
            </xs:choice>
            <xs:element name="chapters" type="ChaptersType" minOccurs="0"/>
            <xs:element name="assets" type="AssetsType" minOccurs="0"/>
            <xs:element name="products" type="ProductsType"/>
            <xs:element name="cue_sheet" type="CueSheetType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Locales & Regions -->

    <xs:complexType name="LocalesTitleType">
        <xs:sequence>
            <xs:element name="locale" type="LocaleTitleType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RegionsType">
        <xs:sequence>
            <xs:element name="region" type="RegionType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RegionType">
        <xs:sequence>
            <xs:element name="territory" type="TerritoryType"/>
            <xs:group ref="ReleaseGroup"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Genres -->

    <xs:complexType name="GenresType">
        <xs:sequence>
            <xs:element name="genre" type="GenreType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Ratings -->

    <xs:complexType name="RatingsType">
        <xs:sequence>
            <xs:element name="rating" type="RatingType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RatingType">
        <xs:simpleContent>
            <xs:extension base="RatingLabelType">
                <xs:attribute name="system" type="RatingSystemType" use="required"/>
                <xs:attribute name="reason" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Cast & crew -->

    <xs:complexType name="CastType">
        <xs:sequence>
            <xs:element name="cast_member" type="CastMemberType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CastMemberType">
        <xs:sequence>
            <xs:group ref="CastNameGroup"/>
            <xs:element name="locales" type="LocalesCastType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="billing" type="BillingType" default="ordered"/>
    </xs:complexType>

    <xs:complexType name="LocalesCastType">
        <xs:sequence>
            <xs:element name="locale" type="LocaleCastType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CrewType">
        <xs:sequence>
            <xs:element name="crew_member" type="CrewMemberType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CrewMemberType">
        <xs:sequence>
            <xs:group ref="CrewNameGroup"/>
            <xs:element name="locales" type="LocalesCrewType" minOccurs="0"/>
            <xs:element name="roles" type="CrewRolesType"/>
        </xs:sequence>
        <xs:attribute name="billing" type="BillingType" default="ordered"/>
    </xs:complexType>

    <xs:complexType name="LocalesCrewType">
        <xs:sequence>
            <xs:element name="locale" type="LocaleCrewType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CrewRolesType">
        <xs:sequence>
            <xs:element name="role" type="CrewRoleType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Artists -->

    <xs:complexType name="ArtistsType">
        <xs:sequence>
            <xs:element name="artist" type="ArtistType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArtistType">
        <xs:sequence>
            <xs:group ref="ArtistNameGroup"/>
            <xs:element name="locales" type="LocaleArtistType" minOccurs="0"/>
            <xs:element name="roles" type="ArtistRolesType"/>
            <xs:element name="primary" type="xs:boolean" minOccurs="0" default="false"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LocalesArtistType">
        <xs:sequence>
            <xs:element name="locale" type="LocaleArtistType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArtistRolesType">
        <xs:sequence>
            <xs:element name="role" type="ArtistRoleType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Chapters -->

    <xs:complexType name="ChaptersType">
        <xs:sequence>
            <xs:element name="timecode_format" type="TimecodeFormatType" minOccurs="0"/>
            <xs:element name="chapter" type="ChapterType" maxOccurs="99" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ChapterType">
        <xs:sequence>
            <xs:element name="start_time" type="TimecodeFormat"/>
            <xs:choice>
                <xs:element name="title" type="TitleType"/>
                <xs:element name="titles" type="TitlesType"/>
            </xs:choice>
            <xs:element name="artwork_file" type="ArtWorkFileType"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="TitlesType">
        <xs:sequence>
            <xs:element name="title" type="TitleType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TitleType">
        <xs:simpleContent>
            <xs:extension base="string255">
                <xs:attribute name="locale" type="LanguageType"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ArtWorkFileType">
        <xs:sequence>
            <xs:element name="file_name" type="ArtWorkFileNameType"/>
            <xs:group ref="FileGroup"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Assets -->

    <xs:complexType name="AssetsType">
        <xs:sequence>
            <xs:element name="asset" type="AssetType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AssetType">
        <xs:sequence>
            <xs:element name="territories" type="TerritoriesType" minOccurs="0"/>
            <xs:element name="data_file" type="DataFileType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="type" type="AssetTypeType" use="required"/>
    </xs:complexType>

    <xs:complexType name="DataFileType">
        <xs:sequence>
            <xs:element name="locale" type="LocaleType" minOccurs="0"/>
            <xs:element name="file_name" type="xs:string"/>
            <xs:group ref="FileGroup"/>
            <xs:element name="attribute" type="AttributeType" maxOccurs="5" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="role" type="DataFileRoleType"/>
    </xs:complexType>

    <xs:complexType name="AttributeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" type="AttributeNameType" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Territory -->

    <xs:complexType name="TerritoriesType">
        <xs:sequence>
            <xs:element name="territory" type="TerritoryType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="TerritoryType">
        <xs:union memberTypes="iso-3166-1:ISO3166CountryCode WWType"/>
    </xs:simpleType>

    <!-- Products -->

    <xs:complexType name="ProductsType">
        <xs:sequence>
            <xs:element name="product" type="ProductType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProductType">
        <xs:sequence>
            <xs:element name="territory" type="TerritoryType"/>
            <xs:element name="intervals" type="IntervalsType" minOccurs="0"/>
            <xs:element name="cleared_for_sale" type="xs:boolean"/>
            <xs:element name="cleared_for_hd_sale" type="xs:boolean" minOccurs="0"/>
            <xs:group ref="WholesaleGroup" minOccurs="0"/>
            <xs:element name="preorder_sales_start_date" type="xs:date" minOccurs="0"/>
            <xs:element name="sales_start_date" type="xs:date" minOccurs="0"/>
            <xs:element name="sales_end_date" type="xs:date" minOccurs="0"/>
            <xs:element name="cleared_for_vod" type="xs:boolean" minOccurs="0"/>
            <xs:element name="vod_type" type="VodType" minOccurs="0"/>
            <xs:element name="available_for_vod_date" type="xs:date" minOccurs="0"/>
            <xs:element name="unavailable_for_vod_date" type="xs:date" minOccurs="0"/>
            <xs:element name="physical_release_date" type="xs:date" minOccurs="0"/>
            <xs:element name="cleared_for_hd_vod" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Intervals -->

    <xs:complexType name="IntervalsType">
        <xs:sequence>
            <xs:element name="interval" type="IntervalType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="IntervalType">
        <xs:sequence>
            <xs:element name="start_date" type="xs:date"/>
            <xs:element name="end_date" type="xs:date" minOccurs="0"/>
            <xs:group ref="WholesaleGroup"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Cue sheet -->

    <xs:complexType name="CueSheetType">
        <xs:sequence>
            <xs:element name="cue" type="CueType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CueType">
        <xs:sequence>
            <xs:element name="sequence_number" type="xs:nonNegativeInteger"/>
            <xs:element name="time" type="TimeType"/>
            <xs:element name="title" type="string255"/>
            <xs:element name="artists" type="ArtistsType"/>
            <xs:element name="isrc" type="IsrcType" minOccurs="0"/>
            <xs:element name="iswc" type="IswcType" minOccurs="0"/>
            <xs:element name="copyright_cline" type="xs:string" minOccurs="0"/>
            <xs:element name="copyright_pline" type="xs:string" minOccurs="0"/>
            <xs:element name="usage" type="UsageType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TimeType">
        <xs:sequence>
            <xs:element name="start_timecode" type="xs:time" minOccurs="0"/>
            <xs:element name="duration" type="xs:time"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Groups -->

    <xs:group name="TitleGroup">
        <xs:sequence>
            <xs:element name="title" type="string255"/>
            <xs:element name="phonetic_title" type="string255" minOccurs="0"/>
            <xs:element name="synopsis" type="string4000"/>
        </xs:sequence>
    </xs:group>

    <xs:group name="ReleaseGroup">
        <xs:sequence>
            <xs:element name="copyright_cline" type="string1000"/>
            <xs:element name="theatrical_release_date" type="xs:date"/>
        </xs:sequence>
    </xs:group>

    <xs:group name="CastNameGroup">
        <xs:sequence>
            <xs:element name="display_name" type="string250"/>
            <xs:element name="character_name" type="string250"/>
        </xs:sequence>
    </xs:group>

    <xs:group name="CrewNameGroup">
        <xs:sequence>
            <xs:element name="display_name" type="string250"/>
        </xs:sequence>
    </xs:group>

    <xs:group name="ArtistNameGroup">
        <xs:sequence>
            <xs:element name="artist_name" type="string250"/>
        </xs:sequence>
    </xs:group>

    <xs:group name="WholesaleGroup">
        <xs:sequence>
            <xs:element name="wholesale_price_tier" type="xs:positiveInteger" minOccurs="0"/>
            <xs:element name="hd_wholesale_price_tier" type="xs:positiveInteger" minOccurs="0"/>
        </xs:sequence>
    </xs:group>

    <xs:group name="FileGroup">
        <xs:sequence>
            <xs:element name="size" type="xs:positiveInteger"/>
            <xs:element name="checksum" type="CheckSumType"/>
        </xs:sequence>
    </xs:group>

    <!-- Common types -->

    <xs:simpleType name="LanguageType">
        <xs:restriction base="xs:language"/>
    </xs:simpleType>

    <xs:complexType name="LocaleType">
        <xs:attribute name="name" type="LanguageType"/>
    </xs:complexType>

    <xs:simpleType name="WWType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WW"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="CheckSumType">
        <xs:simpleContent>
            <xs:extension base="xs:hexBinary">
                <xs:attribute name="type" type="xs:string" fixed="md5"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="FileType">
        <xs:group ref="FileGroup"/>
    </xs:complexType>
    <!-- Locales extensions -->

    <xs:complexType name="LocaleTitleType">
        <xs:complexContent>
            <xs:extension base="LocaleType">
                <xs:sequence>
                    <xs:group ref="TitleGroup"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LocaleCastType">
        <xs:complexContent>
            <xs:extension base="LocaleType">
                <xs:sequence>
                    <xs:group ref="CastNameGroup"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LocaleCrewType">
        <xs:complexContent>
            <xs:extension base="LocaleType">
                <xs:sequence>
                    <xs:group ref="CrewNameGroup"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LocaleArtistType">
        <xs:complexContent>
            <xs:extension base="LocaleType">
                <xs:sequence>
                    <xs:group ref="ArtistNameGroup"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Patterns -->

    <xs:simpleType name="VendorType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9][a-zA-Z0-9_]{5,99}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FileNameType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9\-_ ]{1,}.[a-z]{3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ArtWorkFileNameType">
        <xs:restriction base="FileNameType">
            <xs:pattern value="chapter(0[1-9]|[1-9][0-9]).jpg"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IsanType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-fA-F]{4}-){4}[a-zA-Z0-9]-([0-9a-fA-F]{4}-){2}[a-zA-Z0-9]"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IsrcType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([A-Z]){2}([A-Z0-9]){3}([0-9]){7}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IswcType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]-([0-9]{3}\.){2}[0-9]{3}-[0-9]"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TimecodeFormat">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}((:|;)[0-5][0-9])?"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Enumerations -->

    <xs:simpleType name="VideoTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="film"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VideoTypeSubType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="feature"/>
            <xs:enumeration value="short"/>
            <xs:enumeration value="concert"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="GenreType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Action &amp; Adventure"/>
            <xs:enumeration value="Anime"/>
            <xs:enumeration value="Classics"/>
            <xs:enumeration value="Comedy"/>
            <xs:enumeration value="Concert Films"/>
            <xs:enumeration value="Documentary"/>
            <xs:enumeration value="Drama"/>
            <xs:enumeration value="Foreign"/>
            <xs:enumeration value="Horror"/>
            <xs:enumeration value="Independent"/>
            <xs:enumeration value="Kids &amp; Family"/>
            <xs:enumeration value="Music Documentary"/>
            <xs:enumeration value="Music Feature Film"/>
            <xs:enumeration value="Musicals"/>
            <xs:enumeration value="Romance"/>
            <xs:enumeration value="Sci-Fi &amp; Fantasy"/>
            <xs:enumeration value="Short Films"/>
            <xs:enumeration value="Special Interest"/>
            <xs:enumeration value="Thriller"/>
            <xs:enumeration value="Sports"/>
            <xs:enumeration value="War"/>
            <xs:enumeration value="Western"/>
            <xs:enumeration value="Urban"/>
            <!-- Japanese -->
            <xs:enumeration value="JapaneseCinema"/>
            <xs:enumeration value="Jidaigeki"/>
            <xs:enumeration value="Tokusatsu"/>
            <xs:enumeration value="KoreanCinema"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RatingSystemType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mpaa"/>
            <xs:enumeration value="fr-cnc"/>
            <xs:enumeration value="de-fsk"/>
            <xs:enumeration value="ve-movies"/>
            <xs:enumeration value="uy-movies"/>
            <xs:enumeration value="bbfc"/>
            <xs:enumeration value="ch-movies"/>
            <xs:enumeration value="se-movies"/>
            <xs:enumeration value="es-movies"/>
            <xs:enumeration value="sk-movies"/>
            <xs:enumeration value="si-movies"/>
            <xs:enumeration value="ro-movies"/>
            <xs:enumeration value="pt-movies"/>
            <xs:enumeration value="pl-movies"/>
            <xs:enumeration value="pe-movies"/>
            <xs:enumeration value="pa-movies"/>
            <xs:enumeration value="py-movies"/>
            <xs:enumeration value="no-movies"/>
            <xs:enumeration value="nz-oflc"/>
            <xs:enumeration value="mx-movies"/>
            <xs:enumeration value="lt-movies"/>
            <xs:enumeration value="lv-movies"/>
            <xs:enumeration value="jp-eirin"/>
            <xs:enumeration value="jm-movies"/>
            <xs:enumeration value="it-movies"/>
            <xs:enumeration value="ie-ifco"/>
            <xs:enumeration value="hu-movies"/>
            <xs:enumeration value="hn-movies"/>
            <xs:enumeration value="gt-movies"/>
            <xs:enumeration value="gr-movies"/>
            <xs:enumeration value="fi-movies"/>
            <xs:enumeration value="ee-movies"/>
            <xs:enumeration value="ec-movies"/>
            <xs:enumeration value="dk-movies"/>
            <xs:enumeration value="cz-movies"/>
            <xs:enumeration value="cy-movies"/>
            <xs:enumeration value="co-movies"/>
            <xs:enumeration value="cl-movies"/>
            <xs:enumeration value="ca-chvrs"/>
            <xs:enumeration value="bg-movies"/>
            <xs:enumeration value="br-movies"/>
            <xs:enumeration value="bo-movies"/>
            <xs:enumeration value="be-movies"/>
            <xs:enumeration value="nl-movies"/>
            <xs:enumeration value="lu-movies"/>
            <xs:enumeration value="fsk"/>
            <xs:enumeration value="au-oflc"/>
            <xs:enumeration value="ar-movies"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RatingLabelType">
        <xs:restriction base="xs:token">
            <!-- US -->
            <xs:enumeration value="G"/>
            <xs:enumeration value="PG-13"/>
            <xs:enumeration value="R"/>
            <xs:enumeration value="UR"/>
            <xs:enumeration value="NR"/>
            <!-- Germany -->
            <xs:enumeration value="ab 0 Jahren"/>
            <xs:enumeration value="ab 6 Jahren"/>
            <xs:enumeration value="ab 12 Jahren"/>
            <xs:enumeration value="ab 16 Jahren"/>
            <xs:enumeration value="ab 18 Jahren"/>
            <xs:enumeration value="Keine Bewertung No rating exists vorhanden"/>
            <!-- France -->
            <xs:enumeration value="Tout Public"/>
            <xs:enumeration value="-10"/>
            <xs:enumeration value="-12"/>
            <xs:enumeration value="-16"/>
            <xs:enumeration value="-18"/>
            <xs:enumeration value="Sans classification"/>
            <!-- Argentina -->
            <xs:enumeration value="ATP"/>
            <xs:enumeration value="SAM 13"/>
            <xs:enumeration value="SAM 16"/>
            <xs:enumeration value="SAM 18"/>
            <xs:enumeration value="Sin Calificación"/>
            <!-- Australia -->
            <xs:enumeration value="G"/>
            <xs:enumeration value="PG"/>
            <xs:enumeration value="M"/>
            <xs:enumeration value="MA15+"/>
            <xs:enumeration value="R18+"/>
            <!-- Austria -->
            <xs:enumeration value="Nichtbewertet"/>
            <!-- Netherlands -->
            <xs:enumeration value="AL/G"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="18"/>
            <!-- Bolivia -->
            <xs:enumeration value="TP"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="Sin Calificación"/>
            <!-- Brazil -->
            <xs:enumeration value="L"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="18"/>
            <!-- Bulgaria -->
            <xs:enumeration value="A"/>
            <xs:enumeration value="B"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="D"/>
            <xs:enumeration value="X"/>
            <!-- Canada -->
            <xs:enumeration value="Not Rated"/>
            <xs:enumeration value="G"/>
            <xs:enumeration value="PG"/>
            <xs:enumeration value="14A"/>
            <xs:enumeration value="18A"/>
            <xs:enumeration value="R"/>
            <xs:enumeration value="Unrated"/>
            <!-- Chile -->
            <xs:enumeration value="TE"/>
            <xs:enumeration value="+7"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="R"/>
            <xs:enumeration value="Sin Calificación"/>
            <!-- Colombia -->
            <xs:enumeration value="Todos"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value=" Sin Calificación"/>
            <!-- Costa Rica -->
            <xs:enumeration value="TP"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="Sin Calificación"/>
            <!-- Cyprus -->
            <xs:enumeration value="K"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="18"/>
            <!-- Czech Republic -->
            <xs:enumeration value="U"/>
            <xs:enumeration value="12+"/>
            <xs:enumeration value="15+"/>
            <xs:enumeration value="18+"/>
            <!-- Denmark -->
            <xs:enumeration value="A"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="15"/>
            <!-- Dominican Republic -->
            <xs:enumeration value="Todos"/>
            <xs:enumeration value="Sin Calificación"/>
            <!-- Ecuador -->
            <xs:enumeration value="TP"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="Sin Calificación"/>
            <!-- El Salvador -->
            <xs:enumeration value="TP"/>
            <xs:enumeration value="-12con un Adult"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="Sin Calificación"/>
            <!-- Estonia -->
            <xs:enumeration value="Pere/L"/>
            <xs:enumeration value="MS6"/>
            <xs:enumeration value="MS12"/>
            <xs:enumeration value="K12"/>
            <xs:enumeration value="K14"/>
            <xs:enumeration value="K16"/>
            <!-- Finland -->
            <xs:enumeration value="K-3"/>
            <xs:enumeration value="K-7"/>
            <xs:enumeration value="K-11"/>
            <xs:enumeration value="K-13"/>
            <xs:enumeration value="K-15"/>
            <xs:enumeration value="K-18"/>
            <xs:enumeration value="Tarkastamaton"/>
            <!-- Greece -->
            <xs:enumeration value="K"/>
            <xs:enumeration value="K-13"/>
            <xs:enumeration value="K-17"/>
            <!-- Guatemala -->
            <xs:enumeration value="A"/>
            <xs:enumeration value="B"/>
            <xs:enumeration value="B-12"/>
            <xs:enumeration value="B-15"/>
            <xs:enumeration value="C-18"/>
            <xs:enumeration value="Sin Calificación"/>
            <!-- Guyana -->
            <xs:enumeration value="All Ages"/>
            <xs:enumeration value="Unrated"/>
            <!-- Honduras -->
            <xs:enumeration value="TP"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="Sin Calificación"/>
            <!-- Hungary -->
            <xs:enumeration value="KN"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="18"/>
            <!-- Ireland -->
            <xs:enumeration value="G"/>
            <xs:enumeration value="PG"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="18"/>
            <!-- Italy -->
            <xs:enumeration value="T"/>
            <xs:enumeration value="VPA"/>
            <xs:enumeration value="VM10"/>
            <xs:enumeration value="VM12"/>
            <xs:enumeration value="VM14"/>
            <xs:enumeration value="VM18"/>
            <!-- Jamaica -->
            <xs:enumeration value="U"/>
            <xs:enumeration value="PG"/>
            <xs:enumeration value="PG-13"/>
            <xs:enumeration value="A-16"/>
            <xs:enumeration value="A-18"/>
            <xs:enumeration value="Unrated"/>
            <!-- Japan -->
            <xs:enumeration value="G"/>
            <xs:enumeration value="PG12"/>
            <xs:enumeration value="R15+"/>
            <xs:enumeration value="R18+"/>
            <!-- Latvia -->
            <xs:enumeration value="U"/>
            <xs:enumeration value="7+"/>
            <xs:enumeration value="12+"/>
            <xs:enumeration value="16+"/>
            <xs:enumeration value="18+"/>
            <!-- Lithuania-->
            <xs:enumeration value="A"/>
            <xs:enumeration value="N-7"/>
            <xs:enumeration value="T"/>
            <xs:enumeration value="N-16"/>
            <xs:enumeration value="N-18"/>
            <!-- Mexico -->
            <xs:enumeration value="AA"/>
            <xs:enumeration value="A"/>
            <xs:enumeration value="B"/>
            <xs:enumeration value="B-15"/>
            <xs:enumeration value="C"/>
            <!-- New Zealand -->
            <xs:enumeration value="Not Rated"/>
            <xs:enumeration value="G"/>
            <xs:enumeration value="PG"/>
            <xs:enumeration value="M"/>
            <xs:enumeration value="R13"/>
            <xs:enumeration value="R15"/>
            <xs:enumeration value="R16"/>
            <xs:enumeration value="R18"/>
            <xs:enumeration value="R"/>
            <xs:enumeration value="RP16"/>
            <!-- Norway -->
            <xs:enumeration value="A"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="Ikkevurdert"/>
            <!-- Panama -->
            <xs:enumeration value="A"/>
            <xs:enumeration value="B"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="D"/>
            <xs:enumeration value="Sin Calificación"/>
            <!-- Poland -->
            <xs:enumeration value="BO"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="18"/>
            <!-- Portugal -->
            <xs:enumeration value="M/4"/>
            <xs:enumeration value="M/6"/>
            <xs:enumeration value="M/12"/>
            <xs:enumeration value="M/16"/>
            <xs:enumeration value="M/18"/>
            <xs:enumeration value="Sem classificação"/>
            <!-- Romania -->
            <xs:enumeration value="A.G."/>
            <xs:enumeration value="A.P.-12"/>
            <xs:enumeration value="N-15"/>
            <xs:enumeration value="I.M.-18"/>
            <!-- Spain -->
            <xs:enumeration value="iA"/>
            <xs:enumeration value="i7"/>
            <xs:enumeration value="A/TP"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="18"/>
            <!-- Sweden -->
            <xs:enumeration value="Barntillåten"/>
            <xs:enumeration value="Från 7år"/>
            <xs:enumeration value="Från 11år"/>
            <xs:enumeration value="Från 15år"/>
            <xs:enumeration value="Unrated"/>
            <!-- Switzerland-->
            <xs:enumeration value="0"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="Nicht bewertet"/>
            <!-- UK -->
            <xs:enumeration value="U"/>
            <xs:enumeration value="PG"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="12A"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="18"/>
            <!-- Uruguay -->
            <xs:enumeration value="TP"/>
            <xs:enumeration value="+6"/>
            <xs:enumeration value="+9"/>
            <xs:enumeration value="+12"/>
            <xs:enumeration value="+15"/>
            <xs:enumeration value="+18"/>
            <xs:enumeration value="Sin Calificación"/>
            <!-- Venezuela -->
            <xs:enumeration value="AA"/>
            <xs:enumeration value="A"/>
            <xs:enumeration value="B"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="D"/>
            <xs:enumeration value="Sin Calificación"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CrewRoleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Director"/>
            <xs:enumeration value="Producer"/>
            <xs:enumeration value="Screenwriter"/>
            <xs:enumeration value="Dub Artist"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ArtistRoleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Creator"/>
            <xs:enumeration value="Composer"/>
            <xs:enumeration value="DJ"/>
            <xs:enumeration value="Featuring"/>
            <xs:enumeration value="Narrator"/>
            <xs:enumeration value="Performer"/>
            <xs:enumeration value="Producer"/>
            <xs:enumeration value="Remixer"/>
            <xs:enumeration value="Songwriter"/>
            <xs:enumeration value="with"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BillingType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="top"/>
            <xs:enumeration value="ordered"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AssetTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="full"/>
            <xs:enumeration value="preview"/>
            <xs:enumeration value="artwork"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DataFileRoleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="source"/>
            <xs:enumeration value="audio"/>
            <xs:enumeration value="video.end.dub_credits"/>
            <xs:enumeration value="subtitles"/>
            <xs:enumeration value="forced_subtitles"/>
            <xs:enumeration value="captions"/>
            <xs:enumeration value="notes"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TimecodeFormatType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="qt_text"/>               <!--HH:MM:SS-->
            <xs:enumeration value="30/999 1000/nonDrop"/>   <!--HH:MM:SS:FF-->
            <xs:enumeration value="30/999 1000/dropNTSC"/>  <!--HH:MM:SS;FF-->
            <xs:enumeration value="24/999 1000/nonDrop"/>   <!--HH:MM:SS:FF-->
            <xs:enumeration value="25/1 1/nonDrop"/>        <!--HH:MM:SS:FF-->
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AttributeNameType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="crop.top"/>
            <xs:enumeration value="crop.bottom"/>
            <xs:enumeration value="crop.left"/>
            <xs:enumeration value="crop.right"/>
            <xs:enumeration value="image.textless_master"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VodType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="New Release"/>
            <xs:enumeration value="Library"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="UsageType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Background"/>
            <xs:enumeration value="Featured"/>
            <xs:enumeration value="Signature"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Basic types restrictions-->

    <xs:simpleType name="nonEmptyString">
        <xs:restriction base="xs:token">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="string255">
        <xs:restriction base="nonEmptyString">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="string250">
        <xs:restriction base="nonEmptyString">
            <xs:maxLength value="250"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="string1000">
        <xs:restriction base="nonEmptyString">
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="string4000">
        <xs:restriction base="nonEmptyString">
            <xs:maxLength value="4000"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
