imf-conversion-core/src/main/resources/xsd/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://config.imfutility.netflix.com"
           xmlns="http://config.imfutility.netflix.com">

    <!--
      Root element.
    -->
    <xs:element name="Config" type="ConfigType"/>

    <xs:complexType name="ConfigType">
        <xs:sequence>
            <xs:element type="xs:string" name="imp" maxOccurs="1" minOccurs="0"/>
            <xs:element type="xs:string" name="cpl" maxOccurs="1" minOccurs="0"/>
            <xs:element type="xs:string" name="workingDirectory" maxOccurs="1" minOccurs="0"/>

            <xs:element type="externalToolsType" name="externalTools" maxOccurs="1" minOccurs="1"/>
            <xs:element type="conversionParametersType" name="conversionParameters" maxOccurs="1" minOccurs="0"/>

            <xs:element type="xs:string" name="conversionConfig" maxOccurs="1" minOccurs="0"/>

            <xs:element type="xs:boolean" name="cleanWorkingDir" maxOccurs="1" minOccurs="0"/>
            <xs:element type="xs:boolean" name="deleteTmpFilesOnExit" maxOccurs="1" minOccurs="0"/>
            <xs:element type="xs:boolean" name="deleteTmpFilesOnFail" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!--
        Path to external executables.
        May be used in both code and conversion.xml template operations.
    -->
    <xs:complexType name="externalToolsType">
        <xs:sequence>
            <xs:element type="toolType" name="tool" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="toolType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!--
      Allows/disallows silent conversion to format destination parameters if the input doesn't match.
      Conversion is allowed by default (if not specified here explicitly)
    -->
    <xs:complexType name="conversionParametersType">
        <xs:sequence>
            <xs:element type="videoConversionParametersType" name="video" maxOccurs="1" minOccurs="0"/>
            <xs:element type="audioConversionParametersType" name="audio" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="allowDisallow">
        <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="videoConversionParametersType">
        <xs:sequence>
            <xs:element type="allowDisallow" name="size" maxOccurs="1" minOccurs="0"/>
            <xs:element type="allowDisallow" name="frameRate" maxOccurs="1" minOccurs="0"/>
            <xs:element type="allowDisallow" name="pixelFormat" maxOccurs="1" minOccurs="0"/>
            <xs:element type="allowDisallow" name="bitDepth" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="audioConversionParametersType">
        <xs:sequence>
            <xs:element type="allowDisallow" name="sampleRate" maxOccurs="1" minOccurs="0"/>
            <xs:element type="allowDisallow" name="bitsSample" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


</xs:schema>