itunes-conversion-input-xsd/src/main/resources/xsd/chapters/chapters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2016 Netflix, Inc.

        This file is part of IMF Conversion Utility.

        IMF Conversion Utility is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        IMF Conversion Utility is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with IMF Conversion Utility.  If not, see <http://www.gnu.org/licenses/>.

-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://netflix.com/imf/itunes/chapters"
           xmlns="http://netflix.com/imf/itunes/chapters"
           xmlns:i="http://apple.com/itunes/importer"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:import schemaLocation="../metadata/iso-3166-1.xsd" namespace="http://iso3166.metadata.itunes.imfutility.netflix.com"/>
    <xs:import schemaLocation="../metadata/itunes-metadata.xsd" namespace="http://apple.com/itunes/importer"/>

    <!-- root element -->
    <xs:element name="chapters" type="ChaptersInputType"/>

    <xs:complexType name="ChaptersInputType">
        <xs:sequence>
            <xs:element name="timecode_format" type="i:TimecodeFormatType" minOccurs="0"/>
            <xs:element name="chapter" type="ChapterInputType" minOccurs="1" maxOccurs="99"/>
        </xs:sequence>
        <xs:attribute name="basedir" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="ChapterInputType">
        <xs:sequence>
            <xs:element name="start_time" type="i:TimecodeFormat"/>
            <xs:choice>
                <xs:element name="title" type="i:TitleType"/>
                <xs:element name="titles" type="i:TitlesType"/>
            </xs:choice>
            <xs:element name="file_name" type="i:FileNameType"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
