imf-essence-descriptors/src/main/resources/xsd/regxml/www-smpte-ra-org-reg-335-2012.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Created: Thu Sep 17 15:28:16 CEST 2015--><!--By: regxmllib build c989a02ac80facc24e018a54c4010dd8c2d27451--><!--See: https://github.com/sandflow/regxmllib--><xs:schema xmlns:r0="http://www.smpte-ra.org/reg/2003/2012" xmlns:reg="http://sandflow.com/ns/SMPTEST2001-1/baseline"  attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.smpte-ra.org/reg/335/2012" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://www.smpte-ra.org/reg/2003/2012"/>
<xs:import namespace="http://sandflow.com/ns/SMPTEST2001-1/baseline"/>
<xs:element name="InstanceID" type="r0:UUID"/>
<xs:element name="IrisFNumber" type="r0:UInt16"/>
<xs:element name="IrisTNumber" type="r0:UInt16"/>
<xs:element name="IrisRingPosition" type="r0:UInt16"/>
<xs:element name="FocusPositionFromImagePlane" type="r0:LensSerialHalfFloat"/>
<xs:element name="FocusPositionFromFrontLensVertex" type="r0:LensSerialHalfFloat"/>
<xs:element name="FocusRingPosition" type="r0:UInt16"/>
<xs:element name="MacroSetting" type="r0:Boolean"/>
<xs:element name="LensZoom35mmStillCameraEquivalent" type="r0:LensSerialHalfFloat"/>
<xs:element name="LensZoomActualFocalLength" type="r0:LensSerialHalfFloat"/>
<xs:element name="ZoomRingPosition" type="r0:UInt16"/>
<xs:element name="OpticalExtenderMagnification" type="r0:UInt16"/>
<xs:element name="LensAttributes" type="r0:UTF8String"/>
<xs:element name="AutoExposureMode" type="r0:AutoExposureModeType"/>
<xs:element name="ExposureIndexOfPhotoMeter" type="r0:UInt16"/>
<xs:element name="AutoFocusSensingAreaSetting" type="r0:AutoFocusSensingAreaSettingType"/>
<xs:element name="ColorCorrectionFilterWheelSetting" type="r0:ColorCorrectionFilterWheelSettingType"/>
<xs:element name="NeutralDensityFilterWheelSetting" type="r0:UInt16"/>
<xs:element name="ImageSensorDimensionEffectiveWidth" type="r0:UInt16"/>
<xs:element name="ImageSensorDimensionEffectiveHeight" type="r0:UInt16"/>
<xs:element name="CaptureFrameRate" type="r0:Rational"/>
<xs:element name="ImageSensorReadoutMode" type="r0:ImageSensorReadoutModeType"/>
<xs:element name="ShutterSpeedAngle" type="r0:UInt32"/>
<xs:element name="ShutterSpeedTime" type="r0:Rational"/>
<xs:element name="CameraMasterGainAdjustment" type="r0:Int16"/>
<xs:element name="ISOSensitivity" type="r0:UInt16"/>
<xs:element name="ColorMatrix" type="r0:RationalArray"/>
<xs:element name="ElectricalExtenderMagnification" type="r0:UInt16"/>
<xs:element name="AutoWhiteBalanceMode" type="r0:AutoWhiteBalanceModeType"/>
<xs:element name="WhiteBalance" type="r0:UInt16"/>
<xs:element name="CameraMasterBlackLevel" type="r0:Int16"/>
<xs:element name="CameraKneePoint" type="r0:UInt16"/>
<xs:element name="CameraKneeSlope" type="r0:Rational"/>
<xs:element name="CameraLuminanceDynamicRange" type="r0:UInt16"/>
<xs:element name="TransferCharacteristic" type="r0:TransferCharacteristicType"/>
<xs:element name="GammaForCDL" type="r0:UInt8"/>
<xs:element name="ASCCDLV12" type="r0:HalfFloatArray"/>
<xs:element name="CameraSettingFileURI" type="r0:UTF8String"/>
<xs:element name="CameraAttributes" type="r0:UTF8String"/>
<xs:element name="UDAMSetIdentifier" type="r0:AUID"/>
<xs:element name="ObjectClass" type="r0:ClassDefinitionWeakReference"/>
<xs:element name="LinkedGenerationID" type="r0:AUID"/>
<xs:element name="ApplicationPlugInObjects" type="r0:ApplicationPluginObjectStrongReferenceSet"/>
<xs:element name="ComponentDataDefinition" type="r0:DataDefinitionWeakReference"/>
<xs:element name="ComponentLength" type="r0:LengthType"/>
<xs:element name="ComponentKLVData" type="r0:KLVDataStrongReferenceVector"/>
<xs:element name="ComponentUserComments" type="r0:TaggedValueStrongReferenceVector"/>
<xs:element name="ComponentAttributes" type="r0:TaggedValueStrongReferenceVector"/>
<xs:element name="EdgeCodeStart" type="r0:PositionType"/>
<xs:element name="EdgeCodeFilmFormat" type="r0:FilmType"/>
<xs:element name="EdgeCodeFormat" type="r0:EdgeType"/>
<xs:element name="EdgeCodeHeader" type="r0:DataValue"/>
<xs:element name="Choices" type="r0:SourceReferenceStrongReferenceVector"/>
<xs:element name="StillFrame" type="r0:SourceReferenceStrongReference"/>
<xs:element name="EventPosition" type="r0:PositionType"/>
<xs:element name="EventComment" type="r0:UTF16String"/>
<xs:element name="ActiveState" type="r0:Boolean"/>
<xs:element name="AnnotationSource" type="r0:SourceReferenceStrongReference"/>
<xs:element name="Operation" type="r0:OperationDefinitionWeakReference"/>
<xs:element name="InputSegments" type="r0:SegmentStrongReferenceVector"/>
<xs:element name="Parameters" type="r0:ParameterStrongReferenceVector"/>
<xs:element name="BypassOverride" type="r0:UInt32"/>
<xs:element name="Rendering" type="r0:SourceReferenceStrongReference"/>
<xs:element name="NestedScopeTracks" type="r0:SegmentStrongReferenceVector"/>
<xs:element name="InputSegment" type="r0:SegmentStrongReference"/>
<xs:element name="PulldownKind" type="r0:PulldownKindType"/>
<xs:element name="PulldownDirection" type="r0:PulldownDirectionType"/>
<xs:element name="PhaseFrame" type="r0:PhaseFrameType"/>
<xs:element name="RelativeScope" type="r0:UInt32"/>
<xs:element name="RelativeTrack" type="r0:UInt32"/>
<xs:element name="SelectedSegment" type="r0:SegmentStrongReference"/>
<xs:element name="AlternateSegments" type="r0:SegmentStrongReferenceVector"/>
<xs:element name="ComponentObjects" type="r0:ComponentStrongReferenceVector"/>
<xs:element name="SourcePackageID" type="r0:PackageIDType"/>
<xs:element name="SourceTrackID" type="r0:UInt32"/>
<xs:element name="ChannelIDs" type="r0:UInt32Array"/>
<xs:element name="MonoSourceTrackIDs" type="r0:UInt32Array"/>
<xs:element name="StartPosition" type="r0:PositionType"/>
<xs:element name="FadeInLength" type="r0:LengthType"/>
<xs:element name="FadeInType" type="r0:FadeType"/>
<xs:element name="FadeOutLength" type="r0:LengthType"/>
<xs:element name="FadeOutType" type="r0:FadeType"/>
<xs:element name="BeginAnchor" type="r0:UTF16String"/>
<xs:element name="EndAnchor" type="r0:UTF16String"/>
<xs:element name="StartTimecode" type="r0:PositionType"/>
<xs:element name="FramesPerSecond" type="r0:UInt16"/>
<xs:element name="DropFrame" type="r0:Boolean"/>
<xs:element name="TimecodeStreamSampleRate" type="r0:Rational"/>
<xs:element name="TimecodeStreamData" type="r0:Stream"/>
<xs:element name="TimecodeSource" type="r0:TCSource"/>
<xs:element name="IncludeSync" type="r0:Boolean"/>
<xs:element name="TransitionOperation" type="r0:OperationGroupStrongReference"/>
<xs:element name="CutPoint" type="r0:PositionType"/>
<xs:element name="Packages" type="r0:PackageStrongReferenceSet"/>
<xs:element name="EssenceDataObjects" type="r0:EssenceDataStrongReferenceSet"/>
<xs:element name="ControlPointValue" type="r0:Indirect"/>
<xs:element name="ControlPointTime" type="r0:Rational"/>
<xs:element name="EditHint" type="r0:EditHintType"/>
<xs:element name="DefinitionObjectIdentification" type="r0:AUID"/>
<xs:element name="DefinitionObjectName" type="r0:UTF16String"/>
<xs:element name="DefinitionObjectDescription" type="r0:UTF16String"/>
<xs:element name="OperationDataDefinition" type="r0:DataDefinitionWeakReference"/>
<xs:element name="IsTimeWarp" type="r0:Boolean"/>
<xs:element name="DegradeTo" type="r0:OperationDefinitionWeakReferenceVector"/>
<xs:element name="OperationCategory" type="r0:OperationCategoryType"/>
<xs:element name="OperationInputCount" type="r0:Int32"/>
<xs:element name="Bypass" type="r0:UInt32"/>
<xs:element name="OperationParametersDefined" type="r0:ParameterDefinitionWeakReferenceSet"/>
<xs:element name="ParameterType" type="r0:TypeDefinitionWeakReference"/>
<xs:element name="ParameterDisplayUnits" type="r0:UTF16String"/>
<xs:element name="PluginCategory" type="r0:PluginCategoryType"/>
<xs:element name="PluginVersion" type="r0:VersionType"/>
<xs:element name="PluginVersionString" type="r0:UTF16String"/>
<xs:element name="DeviceManufacturerName" type="r0:UTF16String"/>
<xs:element name="ManufacturerInfo" type="r0:NetworkLocatorStrongReference"/>
<xs:element name="ManufacturerID" type="r0:AUID"/>
<xs:element name="PluginPlatform" type="r0:AUID"/>
<xs:element name="MinPlatformVersion" type="r0:VersionType"/>
<xs:element name="MaxPlatformVersion" type="r0:VersionType"/>
<xs:element name="Engine" type="r0:AUID"/>
<xs:element name="MinEngineVersion" type="r0:VersionType"/>
<xs:element name="MaxEngineVersion" type="r0:VersionType"/>
<xs:element name="PluginAPI" type="r0:AUID"/>
<xs:element name="MinPluginAPI" type="r0:VersionType"/>
<xs:element name="MaxPluginAPI" type="r0:VersionType"/>
<xs:element name="SoftwareOnly" type="r0:Boolean"/>
<xs:element name="Accelerator" type="r0:Boolean"/>
<xs:element name="PluginLocators" type="r0:LocatorStrongReferenceVector"/>
<xs:element name="Authentication" type="r0:Boolean"/>
<xs:element name="ImplementedClass" type="r0:AUID"/>
<xs:element name="FileDescriptorClass" type="r0:ClassDefinitionWeakReference"/>
<xs:element name="CodecDataDefinitions" type="r0:DataDefinitionWeakReferenceVector"/>
<xs:element name="EssenceIsIdentified" type="r0:Boolean"/>
<xs:element name="OperationDefinitions" type="r0:OperationDefinitionStrongReferenceSet"/>
<xs:element name="ParameterDefinitions" type="r0:ParameterDefinitionStrongReferenceSet"/>
<xs:element name="DataDefinitions" type="r0:DataDefinitionStrongReferenceSet"/>
<xs:element name="PluginDefinitions" type="r0:PluginDefinitionStrongReferenceSet"/>
<xs:element name="CodecDefinitions" type="r0:CodecDefinitionStrongReferenceSet"/>
<xs:element name="ContainerDefinitions" type="r0:ContainerDefinitionStrongReferenceSet"/>
<xs:element name="InterpolationDefinitions" type="r0:InterpolationDefinitionStrongReferenceSet"/>
<xs:element name="KLVDataDefinitions" type="r0:KLVDataDefinitionStrongReferenceSet"/>
<xs:element name="TaggedValueDefinitions" type="r0:TaggedValueDefinitionStrongReferenceSet"/>
<xs:element name="LinkedPackageID" type="r0:PackageIDType"/>
<xs:element name="EssenceStream" type="r0:Stream"/>
<xs:element name="SampleIndex" type="r0:Stream"/>
<xs:element name="EssenceStreamID" type="r0:UInt32"/>
<xs:element name="IndexStreamID" type="r0:UInt32"/>
<xs:element name="PrecedingIndexTable" type="r0:Boolean"/>
<xs:element name="SingularPartitionUsage" type="r0:Boolean"/>
<xs:element name="FollowingIndexTable" type="r0:Boolean"/>
<xs:element name="IsSparse" type="r0:Boolean"/>
<xs:element name="Locators" type="r0:LocatorStrongReferenceVector"/>
<xs:element name="SubDescriptors" type="r0:SubDescriptorStrongReferenceVector"/>
<xs:element name="SampleRate" type="r0:Rational"/>
<xs:element name="EssenceLength" type="r0:LengthType"/>
<xs:element name="ContainerFormat" type="r0:ContainerDefinitionWeakReference"/>
<xs:element name="Codec" type="r0:CodecDefinitionWeakReference"/>
<xs:element name="LinkedTrackID" type="r0:UInt32"/>
<xs:element name="AIFCSummary" type="r0:DataValue"/>
<xs:element name="PictureCompression" type="r0:AUID"/>
<xs:element name="StoredHeight" type="r0:UInt32"/>
<xs:element name="StoredWidth" type="r0:UInt32"/>
<xs:element name="SampledHeight" type="r0:UInt32"/>
<xs:element name="SampledWidth" type="r0:UInt32"/>
<xs:element name="SampledXOffset" type="r0:Int32"/>
<xs:element name="SampledYOffset" type="r0:Int32"/>
<xs:element name="DisplayHeight" type="r0:UInt32"/>
<xs:element name="DisplayWidth" type="r0:UInt32"/>
<xs:element name="DisplayXOffset" type="r0:Int32"/>
<xs:element name="DisplayYOffset" type="r0:Int32"/>
<xs:element name="FrameLayout" type="r0:LayoutType"/>
<xs:element name="VideoLineMap" type="r0:Int32Array"/>
<xs:element name="ImageAspectRatio" type="r0:Rational"/>
<xs:element name="AlphaTransparency" type="r0:AlphaTransparencyType"/>
<xs:element name="ColorPrimaries" type="r0:ColorPrimariesType"/>
<xs:element name="CodingEquations" type="r0:CodingEquationsType"/>
<xs:element name="ImageAlignmentFactor" type="r0:UInt32"/>
<xs:element name="FieldDominance" type="r0:FieldNumber"/>
<xs:element name="ImageStartOffset" type="r0:UInt32"/>
<xs:element name="ImageEndOffset" type="r0:UInt32"/>
<xs:element name="SignalStandard" type="r0:SignalStandardType"/>
<xs:element name="StoredF2Offset" type="r0:Int32"/>
<xs:element name="DisplayF2Offset" type="r0:Int32"/>
<xs:element name="ActiveFormatDescriptor" type="r0:UInt8"/>
<xs:element name="ActiveHeight" type="r0:UInt32"/>
<xs:element name="ActiveWidth" type="r0:UInt32"/>
<xs:element name="ActiveXOffset" type="r0:UInt32"/>
<xs:element name="ActiveYOffset" type="r0:UInt32"/>
<xs:element name="AlternativeCenterCuts" type="r0:AUIDSet"/>
<xs:element name="ComponentDepth" type="r0:UInt32"/>
<xs:element name="HorizontalSubsampling" type="r0:UInt32"/>
<xs:element name="ColorSiting" type="r0:ColorSitingType"/>
<xs:element name="BlackRefLevel" type="r0:UInt32"/>
<xs:element name="WhiteRefLevel" type="r0:UInt32"/>
<xs:element name="ColorRange" type="r0:UInt32"/>
<xs:element name="PaddingBits" type="r0:Int16"/>
<xs:element name="VerticalSubsampling" type="r0:UInt32"/>
<xs:element name="AlphaSampleDepth" type="r0:UInt32"/>
<xs:element name="ReversedByteOrder" type="r0:Boolean"/>
<xs:element name="PixelLayout" type="r0:RGBALayout"/>
<xs:element name="Palette" type="r0:DataValue"/>
<xs:element name="PaletteLayout" type="r0:RGBALayout"/>
<xs:element name="ScanningDirection" type="r0:ScanningDirectionType"/>
<xs:element name="ComponentMaxRef" type="r0:UInt32"/>
<xs:element name="ComponentMinRef" type="r0:UInt32"/>
<xs:element name="AlphaMaxRef" type="r0:UInt32"/>
<xs:element name="AlphaMinRef" type="r0:UInt32"/>
<xs:element name="IsUniform" type="r0:Boolean"/>
<xs:element name="IsContiguous" type="r0:Boolean"/>
<xs:element name="LeadingLines" type="r0:Int32"/>
<xs:element name="TrailingLines" type="r0:Int32"/>
<xs:element name="JPEGTableID" type="r0:JPEGTableIDType"/>
<xs:element name="TIFFSummary" type="r0:DataValue"/>
<xs:element name="WAVESummary" type="r0:DataValue"/>
<xs:element name="FilmFormat" type="r0:FilmType"/>
<xs:element name="FrameRate" type="r0:UInt32"/>
<xs:element name="PerforationsPerFrame" type="r0:UInt8"/>
<xs:element name="FilmAspectRatio" type="r0:Rational"/>
<xs:element name="FilmStockManufacturer" type="r0:UTF16String"/>
<xs:element name="FilmStockKind" type="r0:UTF16String"/>
<xs:element name="FilmFormatName" type="r0:UTF16String"/>
<xs:element name="FilmBatchNumber" type="r0:UTF16String"/>
<xs:element name="TapeFormFactor" type="r0:TapeCaseType"/>
<xs:element name="VideoSignal" type="r0:VideoSignalType"/>
<xs:element name="TapeCapacity" type="r0:UInt32"/>
<xs:element name="TapeManufacturer" type="r0:UTF16String"/>
<xs:element name="TapeFormulation" type="r0:UTF16String"/>
<xs:element name="TapeBatchNumber" type="r0:UTF16String"/>
<xs:element name="TapeStock" type="r0:UTF16String"/>
<xs:element name="ByteOrder" type="reg:ByteOrderType"/>
<xs:element name="FileLastModified" type="r0:TimeStamp"/>
<xs:element name="ContentStorageObject" type="r0:ContentStorageStrongReference"/>
<xs:element name="Dictionary" type="r0:DictionaryStrongReference"/>
<xs:element name="FormatVersion" type="r0:VersionType"/>
<xs:element name="IdentificationList" type="r0:IdentificationStrongReferenceVector"/>
<xs:element name="ObjectModelVersion" type="r0:UInt32"/>
<xs:element name="PrimaryPackage" type="r0:PackageWeakReference"/>
<xs:element name="OperationalPattern" type="r0:AUID"/>
<xs:element name="EssenceContainers" type="r0:AUIDSet"/>
<xs:element name="DescriptiveSchemes" type="r0:AUIDSet"/>
<xs:element name="IsRIPPresent" type="r0:Boolean"/>
<xs:element name="ApplicationSupplierName" type="r0:UTF16String"/>
<xs:element name="ApplicationName" type="r0:UTF16String"/>
<xs:element name="ApplicationVersion" type="r0:ProductVersionType"/>
<xs:element name="ApplicationVersionString" type="r0:UTF16String"/>
<xs:element name="ApplicationProductID" type="r0:AUID"/>
<xs:element name="FileModificationDate" type="r0:TimeStamp"/>
<xs:element name="ToolkitVersion" type="r0:ProductVersionType"/>
<xs:element name="ApplicationPlatform" type="r0:UTF16String"/>
<xs:element name="GenerationID" type="r0:AUID"/>
<xs:element name="URL" type="r0:UTF16String"/>
<xs:element name="LocationName" type="r0:UTF16String"/>
<xs:element name="PackageID" type="r0:PackageIDType"/>
<xs:element name="PackageName" type="r0:UTF16String"/>
<xs:element name="PackageTracks" type="r0:TrackStrongReferenceVector"/>
<xs:element name="PackageLastModified" type="r0:TimeStamp"/>
<xs:element name="CreationTime" type="r0:TimeStamp"/>
<xs:element name="PackageUserComments" type="r0:TaggedValueStrongReferenceVector"/>
<xs:element name="PackageKLVData" type="r0:KLVDataStrongReferenceVector"/>
<xs:element name="PackageAttributes" type="r0:TaggedValueStrongReferenceVector"/>
<xs:element name="PackageUsage" type="r0:UsageType"/>
<xs:element name="DefaultFadeLength" type="r0:LengthType"/>
<xs:element name="DefaultFadeType" type="r0:FadeType"/>
<xs:element name="DefaultFadeEditUnit" type="r0:Rational"/>
<xs:element name="CompositionRendering" type="r0:PackageIDType"/>
<xs:element name="EssenceDescription" type="r0:EssenceDescriptorStrongReference"/>
<xs:element name="TrackID" type="r0:UInt32"/>
<xs:element name="TrackName" type="r0:UTF16String"/>
<xs:element name="TrackSegment" type="r0:SegmentStrongReference"/>
<xs:element name="EssenceTrackNumber" type="r0:UInt32"/>
<xs:element name="EventTrackEditRate" type="r0:Rational"/>
<xs:element name="EventTrackOrigin" type="r0:PositionType"/>
<xs:element name="EditRate" type="r0:Rational"/>
<xs:element name="Origin" type="r0:PositionType"/>
<xs:element name="MarkIn" type="r0:PositionType"/>
<xs:element name="MarkOut" type="r0:PositionType"/>
<xs:element name="UserPosition" type="r0:PositionType"/>
<xs:element name="PackageMarkInPosition" type="r0:PositionType"/>
<xs:element name="PackageMarkOutPosition" type="r0:PositionType"/>
<xs:element name="ParameterDefinitionReference" type="r0:AUID"/>
<xs:element name="Value" type="r0:Indirect"/>
<xs:element name="Interpolation" type="r0:InterpolationDefinitionWeakReference"/>
<xs:element name="PointList" type="r0:ControlPointStrongReferenceVector"/>
<xs:element name="Tag" type="r0:UTF16String"/>
<xs:element name="IndirectValue" type="r0:Indirect"/>
<xs:element name="KLVDataValue" type="r0:Opaque"/>
<xs:element name="DescribedTrackIDs" type="r0:UInt32Set"/>
<xs:element name="DescriptiveFrameworkObject" type="r0:DescriptiveFrameworkStrongReference"/>
<xs:element name="DescriptiveMetadataPlugInID" type="r0:UUID"/>
<xs:element name="DescriptiveMetadataScheme" type="r0:AUID"/>
<xs:element name="DescriptiveMetadataApplicationEnvironmentID" type="r0:UTF16String"/>
<xs:element name="AudioSampleRate" type="r0:Rational"/>
<xs:element name="Locked" type="r0:Boolean"/>
<xs:element name="AudioReferenceLevel" type="r0:Int8"/>
<xs:element name="ElectrospatialFormulation" type="r0:ElectroSpatialFormulation"/>
<xs:element name="ChannelCount" type="r0:UInt32"/>
<xs:element name="QuantizationBits" type="r0:UInt32"/>
<xs:element name="DialNorm" type="r0:Int8"/>
<xs:element name="SoundCompression" type="r0:AUID"/>
<xs:element name="ReferenceAudioAlignmentLevel" type="r0:Int8"/>
<xs:element name="ReferenceImageEditRate" type="r0:Rational"/>
<xs:element name="DataEssenceCoding" type="r0:AUID"/>
<xs:element name="FileDescriptors" type="r0:FileDescriptorStrongReferenceVector"/>
<xs:element name="DescriptiveClipDescribedTrackIDs" type="r0:UInt32Set"/>
<xs:element name="DateTimeRate" type="r0:Rational"/>
<xs:element name="DateTimeDropFrame" type="r0:Boolean"/>
<xs:element name="DateTimeEmbedded" type="r0:Boolean"/>
<xs:element name="DateTimeKind" type="r0:AUID"/>
<xs:element name="Emphasis" type="r0:EmphasisType"/>
<xs:element name="BlockStartOffset" type="r0:UInt16"/>
<xs:element name="AuxBitsMode" type="r0:AuxBitsModeType"/>
<xs:element name="ChannelStatusMode" type="r0:ChannelStatusModeArray"/>
<xs:element name="FixedChannelStatusData" type="r0:UInt8Array"/>
<xs:element name="UserDataMode" type="r0:UserDataModeArray"/>
<xs:element name="FixedUserData" type="r0:UInt8Array"/>
<xs:element name="BlockAlign" type="r0:UInt16"/>
<xs:element name="SequenceOffset" type="r0:UInt8"/>
<xs:element name="AverageBytesPerSecond" type="r0:UInt32"/>
<xs:element name="ChannelAssignment" type="r0:AUID"/>
<xs:element name="PeakEnvelopeVersion" type="r0:UInt32"/>
<xs:element name="PeakEnvelopeFormat" type="r0:UInt32"/>
<xs:element name="PointsPerPeakValue" type="r0:UInt32"/>
<xs:element name="PeakEnvelopeBlockSize" type="r0:UInt32"/>
<xs:element name="PeakChannels" type="r0:UInt32"/>
<xs:element name="PeakFrames" type="r0:UInt32"/>
<xs:element name="PeakOfPeaksPosition" type="r0:PositionType"/>
<xs:element name="PeakEnvelopeTimestamp" type="r0:TimeStamp"/>
<xs:element name="PeakEnvelopeData" type="r0:Stream"/>
<xs:element name="TaggedValueParentProperties" type="r0:PropertyDefinitionWeakReferenceSet"/>
<xs:element name="KLVDataParentProperties" type="r0:PropertyDefinitionWeakReferenceSet"/>
<xs:element name="KLVDataType" type="r0:TypeDefinitionWeakReference"/>
<xs:element name="MIMEType" type="r0:UTF16String"/>
<xs:element name="CharSet" type="r0:UTF16String"/>
<xs:element name="ChunkID" type="r0:UInt32"/>
<xs:element name="ChunkLength" type="r0:UInt32"/>
<xs:element name="ChunkData" type="r0:Stream"/>
<xs:element name="QltyFileSecurityReport" type="r0:UInt32"/>
<xs:element name="QltyFileSecurityWave" type="r0:UInt32"/>
<xs:element name="BextCodingHistory" type="r0:UTF16String"/>
<xs:element name="QltyBasicData" type="r0:UTF16String"/>
<xs:element name="QltyStartOfModulation" type="r0:UTF16String"/>
<xs:element name="QltyQualityEvent" type="r0:UTF16String"/>
<xs:element name="QltyEndOfModulation" type="r0:UTF16String"/>
<xs:element name="QltyQualityParameter" type="r0:UTF16String"/>
<xs:element name="QltyOperatorComment" type="r0:UTF16String"/>
<xs:element name="QltyCueSheet" type="r0:UTF16String"/>
<xs:element name="UnknownBWFChunks" type="r0:RIFFChunkStrongReferenceVector"/>
<xs:element name="SingleSequence" type="r0:Boolean"/>
<xs:element name="ConstantBPictureCount" type="r0:Boolean"/>
<xs:element name="CodedContentScanning" type="r0:ContentScanningType"/>
<xs:element name="LowDelay" type="r0:Boolean"/>
<xs:element name="ClosedGOP" type="r0:Boolean"/>
<xs:element name="IdenticalGOP" type="r0:Boolean"/>
<xs:element name="MaxGOP" type="r0:UInt16"/>
<xs:element name="MaxBPictureCount" type="r0:UInt16"/>
<xs:element name="BitRate" type="r0:UInt32"/>
<xs:element name="ProfileAndLevel" type="r0:UInt8"/>
<xs:element name="MIMEEncoding" type="r0:UTF16String"/>
<xs:element name="DefaultNamespaceURI" type="r0:UTF16String"/>
<xs:element name="NamespaceURIs" type="r0:UTF16StringArray"/>
<xs:element name="NamespacePrefixes" type="r0:UTF16StringArray"/>
<xs:element name="HTMLDOCTYPE" type="r0:UTF16String"/>
<xs:element name="RP217DataStreamPID" type="r0:UInt16"/>
<xs:element name="RP217VideoStreamPID" type="r0:UInt16"/>
<xs:element name="ToleranceMode" type="r0:ToleranceModeType"/>
<xs:element name="ToleranceInterpolationMethod" type="r0:InterpolationDefinitionWeakReference"/>
<xs:element name="ToleranceWindow" type="r0:Indirect"/>
<xs:element name="DynamicSourcePackageID" type="r0:PackageIDType"/>
<xs:element name="DynamicSourceTrackIDs" type="r0:UInt32Array"/>
<xs:element name="SourceIndex" type="r0:Indirect"/>
<xs:element name="SourceSpecies" type="r0:Indirect"/>
<xs:element name="Rsiz" type="r0:UInt16"/>
<xs:element name="Xsiz" type="r0:UInt32"/>
<xs:element name="Ysiz" type="r0:UInt32"/>
<xs:element name="XOsiz" type="r0:UInt32"/>
<xs:element name="YOsiz" type="r0:UInt32"/>
<xs:element name="XTsiz" type="r0:UInt32"/>
<xs:element name="YTsiz" type="r0:UInt32"/>
<xs:element name="XTOsiz" type="r0:UInt32"/>
<xs:element name="YTOsiz" type="r0:UInt32"/>
<xs:element name="Csiz" type="r0:UInt16"/>
<xs:element name="PictureComponentSizing" type="r0:J2KComponentSizingArray"/>
<xs:element name="CodingStyleDefault" type="r0:DataValue"/>
<xs:element name="QuantizationDefault" type="r0:DataValue"/>
<xs:element name="J2CLayout" type="r0:RGBALayout"/>
<xs:element name="MPEGAudioBitRate" type="r0:UInt32"/>
<xs:element name="VC1InitializationMetadata" type="r0:Stream"/>
<xs:element name="VC1SingleSequence" type="r0:Boolean"/>
<xs:element name="VC1CodedContentType" type="r0:ContentScanningType"/>
<xs:element name="VC1IdenticalGOP" type="r0:Boolean"/>
<xs:element name="VC1MaxGOP" type="r0:UInt16"/>
<xs:element name="VC1BPictureCount" type="r0:UInt16"/>
<xs:element name="VC1AverageBitRate" type="r0:UInt32"/>
<xs:element name="VC1MaximumBitRate" type="r0:UInt32"/>
<xs:element name="VC1Profile" type="r0:UInt8"/>
<xs:element name="VC1Level" type="r0:UInt8"/>
<xs:element name="ApplicationPluginInstanceID" type="r0:UUID"/>
<xs:element name="ApplicationScheme" type="r0:AUID"/>
<xs:element name="ApplicationEnvironmentID" type="r0:UTF16String"/>
<xs:element name="LinkedApplicationPluginInstanceID" type="r0:ApplicationPluginObjectGlobalReference"/>
<xs:element name="ResourceID" type="r0:UUID"/>
<xs:element name="UCSEncoding" type="r0:UTF16String"/>
<xs:element name="NamespaceURI" type="r0:UTF16String"/>
<xs:element name="AncillaryResourceID" type="r0:UUID"/>
<xs:element name="BaseClass" type="r0:AUID"/>
<xs:element name="MCALabelDictionaryID" type="r0:AUID"/>
<xs:element name="MCALinkID" type="r0:UUID"/>
<xs:element name="MCATagSymbol" type="r0:UTF16String"/>
<xs:element name="MCATagName" type="r0:UTF16String"/>
<xs:element name="MCAChannelID" type="r0:UInt32"/>
<xs:element name="RFC5646SpokenLanguage" type="r0:ISO7"/>
<xs:element name="MCATitle" type="r0:UTF16String"/>
<xs:element name="MCATitleVersion" type="r0:UTF16String"/>
<xs:element name="MCATitleSubVersion" type="r0:UTF16String"/>
<xs:element name="MCAEpisode" type="r0:UTF16String"/>
<xs:element name="MCAPartitionKind" type="r0:UTF16String"/>
<xs:element name="MCAPartitionNumber" type="r0:UTF16String"/>
<xs:element name="MCAAudioContentKind" type="r0:UTF16String"/>
<xs:element name="MCAAudioElementKind" type="r0:UTF16String"/>
<xs:element name="SoundfieldGroupLinkID" type="r0:UUID"/>
<xs:element name="GroupOfSoundfieldGroupsLinkID" type="r0:UUIDArray"/>
<xs:element name="AVCConstantBPictureFlag" type="r0:Boolean"/>
<xs:element name="AVCCodedContentKind" type="r0:AVCContentScanningType"/>
<xs:element name="AVCClosedGOPIndicator" type="r0:Boolean"/>
<xs:element name="AVCIdenticalGOPIndicator" type="r0:Boolean"/>
<xs:element name="AVCMaximumGOPSize" type="r0:UInt16"/>
<xs:element name="AVCMaximumBPictureCount" type="r0:UInt16"/>
<xs:element name="AVCProfile" type="r0:UInt8"/>
<xs:element name="AVCMaximumBitRate" type="r0:UInt32"/>
<xs:element name="AVCProfileConstraint" type="r0:UInt8"/>
<xs:element name="AVCLevel" type="r0:UInt8"/>
<xs:element name="AVCDecodingDelay" type="r0:UInt8"/>
<xs:element name="AVCMaximumRefFrames" type="r0:UInt8"/>
<xs:element name="AVCSequenceParameterSetFlag" type="r0:UInt8"/>
<xs:element name="AVCPictureParameterSetFlag" type="r0:UInt8"/>
<xs:element name="AVCAverageBitRate" type="r0:UInt32"/>
<xs:element name="EventTextKind" type="r0:AUID"/>
<xs:element name="EventTextLanguageCode" type="r0:UTF16String"/>
<xs:element name="STLReferencePointTimecode" type="r0:PositionType"/>
<xs:element name="STLLineNumber" type="r0:UInt8"/>
<xs:element name="StereoscopicEyeID" type="r0:AUID"/>
<xs:element name="StereoscopicDataEssenceCoding" type="r0:AUID"/>
<xs:element name="ParentClass" type="r0:ClassDefinitionWeakReference"/>
<xs:element name="Properties" type="r0:PropertyDefinitionStrongReferenceSet"/>
<xs:element name="IsConcrete" type="r0:Boolean"/>
<xs:element name="PropertyType" type="r0:AUID"/>
<xs:element name="IsOptional" type="r0:Boolean"/>
<xs:element name="LocalIdentification" type="r0:UInt16"/>
<xs:element name="IsUniqueIdentifier" type="r0:Boolean"/>
<xs:element name="Size" type="r0:UInt8"/>
<xs:element name="IsSigned" type="r0:Boolean"/>
<xs:element name="ReferencedType" type="r0:ClassDefinitionWeakReference"/>
<xs:element name="WeakReferencedType" type="r0:ClassDefinitionWeakReference"/>
<xs:element name="TargetSet" type="r0:AUIDArray"/>
<xs:element name="ElementType" type="r0:TypeDefinitionWeakReference"/>
<xs:element name="ElementNames" type="r0:UTF16StringArray"/>
<xs:element name="ElementValues" type="r0:Int64Array"/>
<xs:element name="FixedArrayElementType" type="r0:TypeDefinitionWeakReference"/>
<xs:element name="ElementCount" type="r0:UInt32"/>
<xs:element name="VariableArrayElementType" type="r0:TypeDefinitionWeakReference"/>
<xs:element name="SetElementType" type="r0:TypeDefinitionWeakReference"/>
<xs:element name="StringElementType" type="r0:TypeDefinitionWeakReference"/>
<xs:element name="MemberTypes" type="r0:TypeDefinitionWeakReferenceVector"/>
<xs:element name="MemberNames" type="r0:UTF16StringArray"/>
<xs:element name="RenamedType" type="r0:TypeDefinitionWeakReference"/>
<xs:element name="ExtendibleEnumerationElementNames" type="r0:UTF16StringArray"/>
<xs:element name="ExtendibleEnumerationElementValues" type="r0:AUIDArray"/>
<xs:element name="MetaDefinitionIdentification" type="r0:AUID"/>
<xs:element name="MetaDefinitionName" type="r0:UTF16String"/>
<xs:element name="MetaDefinitionDescription" type="r0:UTF16String"/>
<xs:element name="ClassDefinitions" type="r0:ClassDefinitionStrongReferenceSet"/>
<xs:element name="TypeDefinitions" type="r0:TypeDefinitionStrongReferenceSet"/>
<xs:element name="ExtensionSchemeID" type="r0:AUID"/>
<xs:element name="SymbolSpaceURI" type="r0:UTF16String"/>
<xs:element name="PreferredPrefix" type="r0:UTF16String"/>
<xs:element name="ExtensionDescription" type="r0:UTF16String"/>
<xs:element name="MetaDefinitions" type="r0:MetaDefinitionStrongReferenceSet"/>
<xs:element name="RootMetaDictionary" type="r0:MetaDictionaryStrongReference"/>
<xs:element name="RootPreface" type="r0:PrefaceStrongReference"/>
<xs:element name="RootObjectDirectory" type="r0:DataValue"/>
<xs:element name="RootFormatVersion" type="r0:UInt32"/>
<xs:element name="IndexEditRate" type="r0:Rational"/>
<xs:element name="IndexStartPosition" type="r0:PositionType"/>
<xs:element name="IndexDuration" type="r0:LengthType"/>
<xs:element name="EditUnitByteCount" type="r0:UInt32"/>
<xs:element name="SliceCount" type="r0:UInt8"/>
<xs:element name="PositionTableCount" type="r0:UInt8"/>
<xs:element name="DeltaEntryArray" type="r0:DeltaEntryArray"/>
<xs:element name="IndexEntryArray" type="r0:IndexEntryArray"/>
<xs:element name="ExtStartOffset" type="r0:UInt64"/>
<xs:element name="VBEByteCount" type="r0:UInt64"/>
<xs:element name="SingleIndexLocation" type="r0:Boolean"/>
<xs:element name="SingleEssenceLocation" type="r0:Boolean"/>
<xs:element name="ForwardIndexDirection" type="r0:Boolean"/>
<xs:element name="LinkedDescriptiveObjectPluginID" type="r0:DescriptiveMarkerGlobalReference"/>
<xs:element name="LinkedDescriptiveFrameworkPluginID" type="r0:DescriptiveMarkerGlobalReference"/>
<xs:element name="IntegrationIndication" type="r0:UTF16String"/>
<xs:element name="IdentificationObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="GroupRelationshipObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="BrandingObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="EventObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="AwardObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="ProductionSettingPeriodObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="ClipKind" type="r0:UTF16String"/>
<xs:element name="ClipNumber" type="r0:ISO7"/>
<xs:element name="ExtendedClipID" type="r0:UMID"/>
<xs:element name="ClipCreationDateTime" type="r0:TimeStamp"/>
<xs:element name="TakeNumber" type="r0:UInt16"/>
<xs:element name="SlateInformation" type="r0:UTF16String"/>
<xs:element name="ScriptingObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="ClipShotObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="DeviceParametersObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="ProcessingObject" type="r0:DescriptiveObjectStrongReference"/>
<xs:element name="SceneNumber" type="r0:ISO7"/>
<xs:element name="SceneSettingPeriodObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="SceneShotObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="MainTitle" type="r0:UTF16String"/>
<xs:element name="SecondaryTitle" type="r0:UTF16String"/>
<xs:element name="WorkingTitle" type="r0:UTF16String"/>
<xs:element name="OriginalTitle" type="r0:UTF16String"/>
<xs:element name="VersionTitle" type="r0:UTF16String"/>
<xs:element name="IdentifierKind" type="r0:ISO7"/>
<xs:element name="IdentifierValue" type="r0:UInt8"/>
<xs:element name="IdentificationLocator" type="r0:AUID"/>
<xs:element name="IdentificationIssuingAuthority" type="r0:UTF16String"/>
<xs:element name="ProgrammingGroupKind" type="r0:UTF16String"/>
<xs:element name="ProgrammingGroupTitle" type="r0:UTF16String"/>
<xs:element name="GroupSynopsis" type="r0:UTF16String"/>
<xs:element name="PositionInSequence" type="r0:UInt32"/>
<xs:element name="TotalNumberInSequence" type="r0:UInt32"/>
<xs:element name="EpisodicStartNumber" type="r0:UInt16"/>
<xs:element name="EpisodicEndNumber" type="r0:UInt16"/>
<xs:element name="BrandMainTitle" type="r0:UTF16String"/>
<xs:element name="BrandOriginalTitle" type="r0:UTF16String"/>
<xs:element name="EventIndication" type="r0:UTF16String"/>
<xs:element name="EventStartDateTime" type="r0:ISO7"/>
<xs:element name="EventEndDateTime" type="r0:ISO7"/>
<xs:element name="PublicationObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="EventAnnotationObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="PublishingOrganizationName" type="r0:UTF16String"/>
<xs:element name="PublishingServiceName" type="r0:UTF16String"/>
<xs:element name="PublishingMediumName" type="r0:UTF16String"/>
<xs:element name="PublishingRegionName" type="r0:UTF16String"/>
<xs:element name="FestivalName" type="r0:UTF16String"/>
<xs:element name="FestivalDateTime" type="r0:ISO7"/>
<xs:element name="AwardName" type="r0:UTF16String"/>
<xs:element name="AwardCategory" type="r0:UTF16String"/>
<xs:element name="NominationCategory" type="r0:UTF16String"/>
<xs:element name="AwardParticipants" type="r0:ParticipantGlobalReferenceSet"/>
<xs:element name="ExtendedCaptionsLanguageCode" type="r0:ISO639_Ext"/>
<xs:element name="CaptionKind" type="r0:UTF16String"/>
<xs:element name="AnnotationKind" type="r0:UTF16String"/>
<xs:element name="AnnotationSynopsis" type="r0:UTF16String"/>
<xs:element name="AnnotationDescription" type="r0:UTF16String"/>
<xs:element name="RelatedMaterialDescription" type="r0:UTF16String"/>
<xs:element name="ClassificationObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="AnnotationCueWordsObject" type="r0:CueWordsStrongReference"/>
<xs:element name="RelatedMaterialLocators" type="r0:LocatorStrongReferenceVector"/>
<xs:element name="AnnotationParticipants" type="r0:ParticipantGlobalReferenceSet"/>
<xs:element name="SettingDateTime" type="r0:TimeStamp"/>
<xs:element name="TimePeriodKeyword" type="r0:UTF16String"/>
<xs:element name="SettingPeriodDescription" type="r0:UTF16String"/>
<xs:element name="ScriptingKind" type="r0:UTF16String"/>
<xs:element name="ScriptingText" type="r0:UTF16String"/>
<xs:element name="ScriptingLocators" type="r0:LocatorStrongReferenceVector"/>
<xs:element name="ContentClassification" type="r0:ISO7"/>
<xs:element name="ClassificationNameValueObjects" type="r0:NameValueStrongReferenceSet"/>
<xs:element name="ShotStartPosition" type="r0:PositionType"/>
<xs:element name="ShotDuration" type="r0:LengthType"/>
<xs:element name="ShotTrackIDs" type="r0:UInt32Set"/>
<xs:element name="ShotDescription" type="r0:UTF16String"/>
<xs:element name="ShotCommentKind" type="r0:UTF16String"/>
<xs:element name="ShotComment" type="r0:UTF16String"/>
<xs:element name="ShotCueWordsObject" type="r0:CueWordsStrongReference"/>
<xs:element name="KeyPointObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="KeypointKind" type="r0:UTF16String"/>
<xs:element name="KeypointValue" type="r0:UTF16String"/>
<xs:element name="KeypointPosition" type="r0:UInt64"/>
<xs:element name="InCueWords" type="r0:UTF16String"/>
<xs:element name="OutCueWords" type="r0:UTF16String"/>
<xs:element name="ParticipantID" type="r0:UUID"/>
<xs:element name="ContributionStatus" type="r0:UTF16String"/>
<xs:element name="JobFunction" type="r0:UTF16String"/>
<xs:element name="JobFunctionCode" type="r0:JobFunctionCode"/>
<xs:element name="RoleName" type="r0:UTF16String"/>
<xs:element name="Persons" type="r0:ParticipantGlobalReferenceSet"/>
<xs:element name="ParticipantOrganizations" type="r0:OrganizationGlobalReferenceSet"/>
<xs:element name="PersonObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="OrganizationObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="LocationObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="FamilyName" type="r0:UTF16String"/>
<xs:element name="FirstGivenName" type="r0:UTF16String"/>
<xs:element name="OtherGivenNames" type="r0:UTF16String"/>
<xs:element name="LinkingName" type="r0:UTF16String"/>
<xs:element name="Salutation" type="r0:UTF16String"/>
<xs:element name="NameSuffix" type="r0:UTF16String"/>
<xs:element name="HonorsQualifications" type="r0:UTF16String"/>
<xs:element name="FormerFamilyName" type="r0:UTF16String"/>
<xs:element name="PersonDescription" type="r0:UTF16String"/>
<xs:element name="AlternateName" type="r0:UTF16String"/>
<xs:element name="Nationality" type="r0:UTF16String"/>
<xs:element name="Citizenship" type="r0:UTF16String"/>
<xs:element name="PersonOrganizations" type="r0:OrganizationGlobalReferenceSet"/>
<xs:element name="OrganizationKind" type="r0:UTF16String"/>
<xs:element name="OrganizationMainName" type="r0:UTF16String"/>
<xs:element name="OrganizationCode" type="r0:UTF16String"/>
<xs:element name="ContactDepartment" type="r0:UTF16String"/>
<xs:element name="LocationKind" type="r0:UTF16String"/>
<xs:element name="LocationDescription" type="r0:UTF16String"/>
<xs:element name="RoomSuiteNumber" type="r0:UTF16String"/>
<xs:element name="RoomSuiteName" type="r0:UTF16String"/>
<xs:element name="BuildingName" type="r0:UTF16String"/>
<xs:element name="PlaceName" type="r0:UTF16String"/>
<xs:element name="StreetNumber" type="r0:UTF16String"/>
<xs:element name="StreetName" type="r0:UTF16String"/>
<xs:element name="PostalTown" type="r0:UTF16String"/>
<xs:element name="City" type="r0:UTF16String"/>
<xs:element name="StateProvinceCounty" type="r0:UTF16String"/>
<xs:element name="PostalCode" type="r0:UTF16String"/>
<xs:element name="Country" type="r0:UTF16String"/>
<xs:element name="GeographicalCoordinates" type="r0:S330M_Spatial"/>
<xs:element name="AstronomicalBodyName" type="r0:UTF16String"/>
<xs:element name="CommunicationsObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="AddressNameValueObjects" type="r0:NameValueStrongReferenceSet"/>
<xs:element name="CentralTelephoneNumber" type="r0:ISO7"/>
<xs:element name="TelephoneNumber" type="r0:ISO7"/>
<xs:element name="MobileTelephoneNumber" type="r0:ISO7"/>
<xs:element name="FaxNumber" type="r0:ISO7"/>
<xs:element name="EmailAddress" type="r0:UTF16String"/>
<xs:element name="ContactWebPage" type="r0:UTF16String"/>
<xs:element name="SupplyContractNumber" type="r0:ISO7"/>
<xs:element name="RightsObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="ContractParticipants" type="r0:ParticipantGlobalReferenceSet"/>
<xs:element name="CopyrightOwner" type="r0:UTF16String"/>
<xs:element name="Rightsholder" type="r0:UTF16String"/>
<xs:element name="RightsManagementAuthority" type="r0:UTF16String"/>
<xs:element name="RegionAreaOfIPLicense" type="r0:UTF16String"/>
<xs:element name="IntellectualPropertyDescription" type="r0:UTF16String"/>
<xs:element name="RightsCondition" type="r0:UTF16String"/>
<xs:element name="RightsComment" type="r0:UTF16String"/>
<xs:element name="IntellectualPropertyRight" type="r0:UTF16String"/>
<xs:element name="RightsStartDateTime" type="r0:TimeStamp"/>
<xs:element name="RightsStopDateTime" type="r0:TimeStamp"/>
<xs:element name="MaxNumberOfUsages" type="r0:UInt16"/>
<xs:element name="ViewportAspectRatio" type="r0:Rational"/>
<xs:element name="PerceivedDisplayFormat" type="r0:ISO7"/>
<xs:element name="ColorDescriptor" type="r0:UTF16String"/>
<xs:element name="DeviceKind" type="r0:UTF16String"/>
<xs:element name="DeviceDesignation" type="r0:ISO7"/>
<xs:element name="DeviceAssetNumber" type="r0:ISO7"/>
<xs:element name="IEEEDeviceIdentifier" type="r0:UInt8Array6"/>
<xs:element name="DeviceModel" type="r0:ISO7"/>
<xs:element name="DeviceSerialNumber" type="r0:ISO7"/>
<xs:element name="DeviceUsageDescription" type="r0:UTF16String"/>
<xs:element name="DeviceParametersNameValueObjects" type="r0:NameValueStrongReferenceSet"/>
<xs:element name="ItemName" type="r0:UTF16String"/>
<xs:element name="ItemValue" type="r0:UTF16String"/>
<xs:element name="SMPTEUniversalLabelLocator" type="r0:AUID"/>
<xs:element name="QualityFlag" type="r0:Boolean"/>
<xs:element name="DescriptiveComment" type="r0:UTF16String"/>
<xs:element name="LogoFlag" type="r0:Boolean"/>
<xs:element name="GraphicUsage" type="r0:UTF16String"/>
<xs:element name="SimpleFlagging" type="r0:UInt16"/>
<xs:element name="GenerationCopyNumber" type="r0:UInt16"/>
<xs:element name="GenerationCloneNumber" type="r0:UInt16"/>
<xs:element name="ProjectNumber" type="r0:ISO7"/>
<xs:element name="ProjectName" type="r0:UTF16String"/>
<xs:element name="FrameworkExtendedTextLanguageCode" type="r0:ISO639_Ext"/>
<xs:element name="FrameworkThesaurusName" type="r0:UTF16String"/>
<xs:element name="FrameworkTitle" type="r0:UTF16String"/>
<xs:element name="PrimaryExtendedSpokenLanguageCode" type="r0:ISO639_Ext"/>
<xs:element name="SecondaryExtendedSpokenLanguageCode" type="r0:ISO639_Ext"/>
<xs:element name="OriginalExtendedSpokenLanguageCode" type="r0:ISO639_Ext"/>
<xs:element name="MetadataServerLocators" type="r0:LocatorStrongReferenceVector"/>
<xs:element name="TitlesObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="AnnotationObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="ParticipantObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="ContactsListObject" type="r0:DescriptiveObjectStrongReference"/>
<xs:element name="Locations" type="r0:LocationGlobalReferenceSet"/>
<xs:element name="CaptionsDescriptionObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="ContractObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="PictureFormatObject" type="r0:DescriptiveObjectStrongReference"/>
<xs:element name="ProjectObject" type="r0:DescriptiveObjectStrongReference"/>
<xs:element name="ThesaurusName" type="r0:UTF16String"/>
<xs:element name="ContactID" type="r0:UUID"/>
<xs:element name="ContactNameValueObjects" type="r0:NameValueStrongReferenceSet"/>
<xs:element name="AddressObjects" type="r0:DescriptiveObjectStrongReferenceSet"/>
<xs:element name="CryptographicContextObject" type="r0:DescriptiveObjectStrongReference"/>
<xs:element name="CryptographicContextID" type="r0:UUID"/>
<xs:element name="SourceContainerFormat" type="r0:AUID"/>
<xs:element name="CipherAlgorithm" type="r0:AUID"/>
<xs:element name="CryptographicKeyID" type="r0:UUID"/>
<xs:element name="MICAlgorithm" type="r0:AUID"/>
<xs:element name="EIDRDMSEssenceID" type="r0:CanonicalEIDRIdentifierType"/>
</xs:schema>
