imf-essence-descriptors/src/main/resources/xsd/regxml/www-ebu-ch-ebucore-smpte-class13-element.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Created: Thu Sep 17 15:28:16 CEST 2015--><!--By: regxmllib build c989a02ac80facc24e018a54c4010dd8c2d27451--><!--See: https://github.com/sandflow/regxmllib--><xs:schema xmlns:r0="http://www.smpte-ra.org/reg/2003/2012" xmlns:r1="http://www.ebu.ch/ebucore/smpte/class13/type" xmlns:reg="http://sandflow.com/ns/SMPTEST2001-1/baseline" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebu.ch/ebucore/smpte/class13/element" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://www.smpte-ra.org/reg/2003/2012"/>
<xs:import namespace="http://www.ebu.ch/ebucore/smpte/class13/type"/>
<xs:import namespace="http://sandflow.com/ns/SMPTEST2001-1/baseline"/>
<xs:element name="documentLocator" type="r0:UTF16String"/>
<xs:element name="documentId" type="r0:UTF16String"/>
<xs:element name="coreMetadataObject" type="r1:coreMetadataStrongReference"/>
<xs:element name="metadataSchemaInformationObject" type="r1:metadataSchemaInformationStrongReference"/>
<xs:element name="identifierObjects" type="r1:identifierStrongReferenceSet"/>
<xs:element name="titleObjects" type="r1:titleStrongReferenceSet"/>
<xs:element name="alternativeTitleObjects" type="r1:alternativeTitleStrongReferenceSet"/>
<xs:element name="creatorEntityObjects" type="r1:entityStrongReferenceSet"/>
<xs:element name="subjectObjects" type="r1:subjectStrongReferenceSet"/>
<xs:element name="descriptionObjects" type="r1:descriptionStrongReferenceSet"/>
<xs:element name="publisherEntityObjects" type="r1:entityStrongReferenceSet"/>
<xs:element name="contributorEntityObjects" type="r1:entityStrongReferenceSet"/>
<xs:element name="dateObjects" type="r1:dateStrongReferenceSet"/>
<xs:element name="typeObjects" type="r1:typeStrongReferenceSet"/>
<xs:element name="languageObjects" type="r1:languageStrongReferenceSet"/>
<xs:element name="coverageObjects" type="r1:coverageStrongReferenceSet"/>
<xs:element name="rightsObjects" type="r1:rightsStrongReferenceSet"/>
<xs:element name="ratingObjects" type="r1:ratingStrongReferenceSet"/>
<xs:element name="versionObject" type="r1:versionStrongReference"/>
<xs:element name="publicationHistoryObject" type="r1:publicationHistoryStrongReference"/>
<xs:element name="planningObject" type="r1:planningStrongReference"/>
<xs:element name="customRelationObjects" type="r1:customRelationStrongReferenceSet"/>
<xs:element name="basicRelationObjects" type="r1:basicRelationStrongReferenceSet"/>
<xs:element name="formatObjects" type="r1:formatStrongReferenceSet"/>
<xs:element name="partObjects" type="r1:partStrongReferenceSet"/>
<xs:element name="metadataSchema" type="r0:UTF16String"/>
<xs:element name="metadataSchemaVersion" type="r0:UTF16String"/>
<xs:element name="metadataFrameworkTextLanguageCode" type="r0:UTF16String"/>
<xs:element name="metadataNamespacePrefix" type="r0:UTF16String"/>
<xs:element name="metadataNamespace" type="r0:UTF16String"/>
<xs:element name="metadataProviderEntityObject" type="r1:entityStrongReference"/>
<xs:element name="metadataDateLastModified" type="r0:DateStruct"/>
<xs:element name="metadataTimeLastModified" type="r0:TimeStruct"/>
<xs:element name="identifierValue" type="r0:UTF16String"/>
<xs:element name="identifierNote" type="r0:UTF16String"/>
<xs:element name="identifierTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="identifierFormatGroupObject" type="r1:formatGroupStrongReference"/>
<xs:element name="identifierAttributorEntityObject" type="r1:entityStrongReference"/>
<xs:element name="titleAttributionDate" type="r0:UTF16String"/>
<xs:element name="titleNote" type="r0:UTF16String"/>
<xs:element name="titleValueObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="titleLength" type="r0:UInt16"/>
<xs:element name="titleGeographicalScope" type="r0:UTF16String"/>
<xs:element name="titleGeographicalExclusionScope" type="r0:UTF16String"/>
<xs:element name="alternativeTitleAttributionDate" type="r0:UTF16String"/>
<xs:element name="alternativeTitleNote" type="r0:UTF16String"/>
<xs:element name="alternativeTitleValueObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="alternativeTitleTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="alternativeTitleStatusGroupObject" type="r1:statusGroupStrongReference"/>
<xs:element name="alternativeTitleLength" type="r0:UInt16"/>
<xs:element name="alternativeTitleGeographicalScope" type="r0:UTF16String"/>
<xs:element name="alternativeTitleGeographicalExclusionScope" type="r0:UTF16String"/>
<xs:element name="subjectCode" type="r0:UTF16String"/>
<xs:element name="subjectNote" type="r0:UTF16String"/>
<xs:element name="subjectValueObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="subjectDefinitionObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="subjectTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="subjectAttributorEntityObject" type="r1:entityStrongReference"/>
<xs:element name="descriptionNote" type="r0:UTF16String"/>
<xs:element name="descriptionValueObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="descriptionTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="descriptionAttributorEntityObject" type="r1:entityStrongReference"/>
<xs:element name="descriptionLength" type="r0:UInt16"/>
<xs:element name="descriptionGeographicalScope" type="r0:UTF16String"/>
<xs:element name="descriptionGeographicalExclusionScope" type="r0:UTF16String"/>
<xs:element name="descriptionAttributionDate" type="r0:DateStruct"/>
<xs:element name="descriptionCastFlag" type="r0:Boolean"/>
<xs:element name="dateCreated" type="r0:DateStruct"/>
<xs:element name="yearCreated" type="r0:DateStruct"/>
<xs:element name="dateIssued" type="r0:DateStruct"/>
<xs:element name="yearIssued" type="r0:DateStruct"/>
<xs:element name="dateModified" type="r0:DateStruct"/>
<xs:element name="yearModified" type="r0:DateStruct"/>
<xs:element name="dateDigitized" type="r0:DateStruct"/>
<xs:element name="yearDigitized" type="r0:DateStruct"/>
<xs:element name="dateReleased" type="r0:DateStruct"/>
<xs:element name="yearReleased" type="r0:DateStruct"/>
<xs:element name="dateCopyrighted" type="r0:DateStruct"/>
<xs:element name="yearCopyrighted" type="r0:DateStruct"/>
<xs:element name="dateNote" type="r0:UTF16String"/>
<xs:element name="alternativeDateObjects" type="r1:dateTypeStrongReferenceSet"/>
<xs:element name="precision" type="r0:UTF16String"/>
<xs:element name="dateValue" type="r0:DateStruct"/>
<xs:element name="textualDateObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="dateTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="dateFormatGroupObject" type="r1:formatGroupStrongReference"/>
<xs:element name="typeNote" type="r0:UTF16String"/>
<xs:element name="typeValueObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="objectTypeObjects" type="r1:objectTypeStrongReferenceSet"/>
<xs:element name="genreObjects" type="r1:genreStrongReferenceSet"/>
<xs:element name="targetAudienceObjects" type="r1:targetAudienceStrongReferenceSet"/>
<xs:element name="typeTypegroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="objectTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="genreTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="genreLevel" type="r0:UTF16String"/>
<xs:element name="targetAudienceReason" type="r0:UTF16String"/>
<xs:element name="targetAudienceLinkToLogo" type="r0:UTF16String"/>
<xs:element name="targetAudienceNotRatedFlag" type="r0:Boolean"/>
<xs:element name="targetAudienceAdultContentFlag" type="r0:Boolean"/>
<xs:element name="targetAudienceTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="targetAudienceRegionObjects" type="r1:regionStrongReferenceSet"/>
<xs:element name="targetAudienceExclusionRegionObjects" type="r1:regionStrongReferenceSet"/>
<xs:element name="targetAudienceFormatGroupObject" type="r1:formatGroupStrongReference"/>
<xs:element name="languageCode" type="r0:UTF16String"/>
<xs:element name="languageValueObject" type="r1:textualAnnotationStrongReference"/>
<xs:element name="languageNote" type="r0:UTF16String"/>
<xs:element name="languagePurposeObject" type="r1:typeGroupStrongReference"/>
<xs:element name="coverageValueObject" type="r1:textualAnnotationStrongReference"/>
<xs:element name="spatialObject" type="r1:spatialStrongReference"/>
<xs:element name="temporalObject" type="r1:temporalStrongReference"/>
<xs:element name="coverageTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="locationObjects" type="r1:locationStrongReferenceSet"/>
<xs:element name="locationID" type="r0:UTF16String"/>
<xs:element name="locationCode" type="r0:UTF16String"/>
<xs:element name="locationDefinitionNote" type="r0:UTF16String"/>
<xs:element name="locationNameObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="locationRegionObject" type="r1:regionStrongReference"/>
<xs:element name="locationTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="locationCoordinatesObject" type="r1:coordinatesStrongReference"/>
<xs:element name="posX" type="r0:Float"/>
<xs:element name="posY" type="r0:Float"/>
<xs:element name="coordinatesFormatGroupObject" type="r1:formatGroupStrongReference"/>
<xs:element name="temporalDefinitionNote" type="r0:UTF16String"/>
<xs:element name="periodOfTimeObjects" type="r1:periodOfTimeStrongReferenceSet"/>
<xs:element name="temporalTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="periodID" type="r0:UTF16String"/>
<xs:element name="periodStartYear" type="r0:DateStruct"/>
<xs:element name="periodStartDate" type="r0:DateStruct"/>
<xs:element name="periodStartTime" type="r0:TimeStruct"/>
<xs:element name="periodEndYear" type="r0:DateStruct"/>
<xs:element name="periodEndDate" type="r0:DateStruct"/>
<xs:element name="periodEndTime" type="r0:TimeStruct"/>
<xs:element name="periodNameObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="rightsID" type="r0:UTF16String"/>
<xs:element name="rightsLink" type="r0:UTF16String"/>
<xs:element name="rightsClearanceFlag" type="r0:Boolean"/>
<xs:element name="rightsNote" type="r0:UTF16String"/>
<xs:element name="rightsValueObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="exploitationIssuesObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="copyrightStatementObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="rightsCoverageObject" type="r1:coverageStrongReference"/>
<xs:element name="rightsHolderEntityObjects" type="r1:entityStrongReferenceSet"/>
<xs:element name="rightsContactObjects" type="r1:contactStrongReferenceSet"/>
<xs:element name="rightsTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="rightsAttributedIDObjects" type="r1:identifierStrongReferenceSet"/>
<xs:element name="rightsFormatReferenceObjects" type="r1:IDRefStrongReferenceSet"/>
<xs:element name="processingRestrictionFlag" type="r0:Boolean"/>
<xs:element name="disclaimerObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="versionValueObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="versionTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="ratingReason" type="r0:UTF16String"/>
<xs:element name="ratingLinkToLogo" type="r0:UTF16String"/>
<xs:element name="ratingNotRatedFlag" type="r0:Boolean"/>
<xs:element name="ratingAdultContentFlag" type="r0:Boolean"/>
<xs:element name="ratingValueObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="ratingScaleMinValueObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="ratingScaleMaxValueObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="ratingTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="ratingFormatGroupObject" type="r1:formatGroupStrongReference"/>
<xs:element name="ratingProviderEntityObject" type="r1:entityStrongReference"/>
<xs:element name="ratingRegionObject" type="r1:regionStrongReference"/>
<xs:element name="ratingSystem" type="r0:UTF16String"/>
<xs:element name="ratingEnvironment" type="r0:UTF16String"/>
<xs:element name="ratingLink" type="r0:UTF16String"/>
<xs:element name="publicationEventName" type="r0:UTF16String"/>
<xs:element name="publicationEventId" type="r0:UTF16String"/>
<xs:element name="firstShowingFlag" type="r0:Boolean"/>
<xs:element name="lastShowingFlag" type="r0:Boolean"/>
<xs:element name="publicationDate" type="r0:DateStruct"/>
<xs:element name="publicationTime" type="r0:TimeStruct"/>
<xs:element name="scheduleDate" type="r0:DateStruct"/>
<xs:element name="freePublicationFlag" type="r0:Boolean"/>
<xs:element name="livePublicationFlag" type="r0:Boolean"/>
<xs:element name="publicationNote" type="r0:UTF16String"/>
<xs:element name="publicationFormatReferenceObject" type="r1:IDRefStrongReference"/>
<xs:element name="publicationRightsReferenceObjects" type="r1:IDRefStrongReferenceSet"/>
<xs:element name="publicationRegionObjects" type="r1:regionStrongReferenceSet"/>
<xs:element name="publicationMediumObject" type="r1:publicationMediumStrongReference"/>
<xs:element name="publicationChannelObject" type="r1:publicationChannelStrongReference"/>
<xs:element name="publicationServiceObject" type="r1:publicationServiceStrongReference"/>
<xs:element name="liveProductionFlag" type="r0:Boolean"/>
<xs:element name="publicationEventObjects" type="r1:publicationEventStrongReferenceSet"/>
<xs:element name="publicationHistoryId" type="r0:UTF16String"/>
<xs:element name="publicationChannelName" type="r0:UTF16String"/>
<xs:element name="publicationChannelId" type="r0:UTF16String"/>
<xs:element name="publicationChannelLinkToLogo" type="r0:UTF16String"/>
<xs:element name="publicationChannelTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="publicationMediumName" type="r0:UTF16String"/>
<xs:element name="publicationMediumId" type="r0:UTF16String"/>
<xs:element name="publicationMediumTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="publicationServiceName" type="r0:UTF16String"/>
<xs:element name="publicationServiceLinkToLogo" type="r0:UTF16String"/>
<xs:element name="publicationServiceSourceObject" type="r1:organizationStrongReference"/>
<xs:element name="publicationServiceId" type="r0:UTF16String"/>
<xs:element name="publicationServiceTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="entityID" type="r0:UTF16String"/>
<xs:element name="entityContactObjects" type="r1:contactStrongReferenceSet"/>
<xs:element name="entityOrganizationObjects" type="r1:organizationStrongReferenceSet"/>
<xs:element name="entityRoleObjects" type="r1:roleStrongReferenceSet"/>
<xs:element name="contactID" type="r0:UTF16String"/>
<xs:element name="familiyName" type="r0:UTF16String"/>
<xs:element name="givenName" type="r0:UTF16String"/>
<xs:element name="salutation" type="r0:UTF16String"/>
<xs:element name="suffix" type="r0:UTF16String"/>
<xs:element name="occupation" type="r0:UTF16String"/>
<xs:element name="username" type="r0:UTF16String"/>
<xs:element name="guestFlag" type="r0:Boolean"/>
<xs:element name="contactNameObjects" type="r1:compoundNameStrongReferenceSet"/>
<xs:element name="contactTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="contactDetailsObjects" type="r1:detailsStrongReferenceSet"/>
<xs:element name="contactRelatedContactObjects" type="r1:contactStrongReferenceSet"/>
<xs:element name="stageNameObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="genderObject" type="r1:typeGroupStrongReference"/>
<xs:element name="contactRelatedInformationLinkObjects" type="r1:basicLinkStrongReferenceSet"/>
<xs:element name="otherGivenName" type="r0:UTF16String"/>
<xs:element name="birthDate" type="r0:DateStruct"/>
<xs:element name="deathDate" type="r0:DateStruct"/>
<xs:element name="birthPlace" type="r0:UTF16String"/>
<xs:element name="nationality" type="r0:UTF16String"/>
<xs:element name="nickname" type="r0:UTF16String"/>
<xs:element name="skill" type="r0:UTF16String"/>
<xs:element name="contactLastUpdate" type="r0:DateStruct"/>
<xs:element name="organizationID" type="r0:UTF16String"/>
<xs:element name="organizationLinkToLogo" type="r0:UTF16String"/>
<xs:element name="organizationCodeObjects" type="r1:identifierStrongReferenceSet"/>
<xs:element name="organizationRelatedInformationLinkObjects" type="r1:basicLinkStrongReferenceSet"/>
<xs:element name="organizationNameObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="organizationDepartmentObject" type="r1:departmentStrongReference"/>
<xs:element name="organizationTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="organizationDetailsObjects" type="r1:detailsStrongReferenceSet"/>
<xs:element name="organizationRelatedContactObjects" type="r1:contactStrongReferenceSet"/>
<xs:element name="organizationDescription" type="r0:UTF16String"/>
<xs:element name="organizationNationality" type="r0:UTF16String"/>
<xs:element name="organizationLastUpdate" type="r0:DateStruct"/>
<xs:element name="departmentID" type="r0:UTF16String"/>
<xs:element name="departmentName" type="r0:UTF16String"/>
<xs:element name="webAddress" type="r0:UTF16String"/>
<xs:element name="telephoneNumber" type="r0:UTF16String"/>
<xs:element name="mobileTelephoneNumber" type="r0:UTF16String"/>
<xs:element name="emailAddress" type="r0:UTF16String"/>
<xs:element name="detailsTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="addressObject" type="r1:addressStrongReference"/>
<xs:element name="deliveryCode" type="r0:UTF16String"/>
<xs:element name="townCityObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="countyStateObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="countryObjects" type="r1:countryTypeStrongReferenceSet"/>
<xs:element name="addressLineObjects" type="r1:textualAnnotationStrongReferenceSet"/>
<xs:element name="countryObject" type="r1:countryTypeStrongReference"/>
<xs:element name="countryRegionObject" type="r1:regionStrongReference"/>
<xs:element name="compoundNameValue" type="r0:UTF16String"/>
<xs:element name="compoundNameTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="compoundNameFormatGroupObject" type="r1:formatGroupStrongReference"/>
<xs:element name="costCenterReference" type="r0:UTF16String"/>
<xs:element name="roleTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="countryTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="customRelationByName" type="r0:UTF16String"/>
<xs:element name="customRelationLink" type="r0:UTF16String"/>
<xs:element name="runningOrderNumber" type="r0:UInt32"/>
<xs:element name="totalNumberOfGroupMembers" type="r0:Boolean"/>
<xs:element name="orderedGroupFlag" type="r0:UTF16String"/>
<xs:element name="customRelationNote" type="r0:UInt32"/>
<xs:element name="customRelationTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="customRelationIdentifierObject" type="r1:identifierStrongReference"/>
<xs:element name="isVersionOf" type="r0:UTF16String"/>
<xs:element name="hasVersion" type="r0:UTF16String"/>
<xs:element name="isReplacedBy" type="r0:UTF16String"/>
<xs:element name="replaces" type="r0:UTF16String"/>
<xs:element name="isRequiredBy" type="r0:UTF16String"/>
<xs:element name="requires" type="r0:UTF16String"/>
<xs:element name="isPartOf" type="r0:UTF16String"/>
<xs:element name="hasPart" type="r0:UTF16String"/>
<xs:element name="isReferencedBy" type="r0:UTF16String"/>
<xs:element name="references" type="r0:UTF16String"/>
<xs:element name="isFormatOf" type="r0:UTF16String"/>
<xs:element name="hasFormat" type="r0:UTF16String"/>
<xs:element name="isEpisodeOf" type="r0:UTF16String"/>
<xs:element name="isMemberOf" type="r0:UTF16String"/>
<xs:element name="hasMember" type="r0:UTF16String"/>
<xs:element name="hasEpisode" type="r0:UTF16String"/>
<xs:element name="isSeasonOf" type="r0:UTF16String"/>
<xs:element name="hasSeason" type="r0:UTF16String"/>
<xs:element name="isNextInSequence" type="r0:UTF16String"/>
<xs:element name="followsInSequence" type="r0:UTF16String"/>
<xs:element name="isRelatedTo" type="r0:UTF16String"/>
<xs:element name="sameAs" type="r0:UTF16String"/>
<xs:element name="planningEventObjects" type="r1:publicationEventStrongReferenceSet"/>
<xs:element name="planningId" type="r0:UTF16String"/>
<xs:element name="typeGroupThesaurus" type="r0:UTF16String"/>
<xs:element name="typeGroupLabel" type="r0:UTF16String"/>
<xs:element name="typeGroupLink" type="r0:UTF16String"/>
<xs:element name="typeGroupUL" type="r0:UTF16String"/>
<xs:element name="typeGroupDefinition" type="r0:UTF16String"/>
<xs:element name="typeGroupLanguageCode" type="r0:UTF16String"/>
<xs:element name="typeGroupNamespace" type="r0:UTF16String"/>
<xs:element name="typeGroupSource" type="r0:UTF16String"/>
<xs:element name="formatGroupThesaurus" type="r0:UTF16String"/>
<xs:element name="formatGroupLabel" type="r0:UTF16String"/>
<xs:element name="formatGroupLink" type="r0:UTF16String"/>
<xs:element name="formatGroupUL" type="r0:UTF16String"/>
<xs:element name="formatGroupDefinition" type="r0:UTF16String"/>
<xs:element name="formatGroupLanguageCode" type="r0:UTF16String"/>
<xs:element name="formatGroupNamespace" type="r0:UTF16String"/>
<xs:element name="formatGroupSource" type="r0:UTF16String"/>
<xs:element name="statusGroupThesaurus" type="r0:UTF16String"/>
<xs:element name="statusGroupLabel" type="r0:UTF16String"/>
<xs:element name="statusGroupLink" type="r0:UTF16String"/>
<xs:element name="statusGroupUL" type="r0:UTF16String"/>
<xs:element name="statusGroupDefinition" type="r0:UTF16String"/>
<xs:element name="statusGroupLanguageCode" type="r0:UTF16String"/>
<xs:element name="statusGroupNamespace" type="r0:UTF16String"/>
<xs:element name="statusGroupSource" type="r0:UTF16String"/>
<xs:element name="text" type="r0:UTF16String"/>
<xs:element name="textLanguageCode" type="r0:UTF16String"/>
<xs:element name="basicLinkUri" type="r0:UTF16String"/>
<xs:element name="formatID" type="r0:UTF16String"/>
<xs:element name="formatVersionID" type="r0:UTF16String"/>
<xs:element name="formatName" type="r0:UTF16String"/>
<xs:element name="formatDefinition" type="r0:UTF16String"/>
<xs:element name="formatYearCreated" type="r0:DateStruct"/>
<xs:element name="formatDateCreated" type="r0:DateStruct"/>
<xs:element name="formatOverallDurationTimeObject" type="r1:timeStrongReference"/>
<xs:element name="formatEditRateObject" type="r1:rationalStrongReference"/>
<xs:element name="formatContainerFormatObject" type="r1:containerFormatStrongReference"/>
<xs:element name="formatMediumObject" type="r1:mediumStrongReference"/>
<xs:element name="formatPackageInfoObject" type="r1:packageInfoStrongReference"/>
<xs:element name="formatAudioFormatObjects" type="r1:audioFormatStrongReferenceSet"/>
<xs:element name="formatVideoFormatObjects" type="r1:videoFormatStrongReferenceSet"/>
<xs:element name="formatImageFormatObjects" type="r1:imageFormatStrongReferenceSet"/>
<xs:element name="formatDataFormatObjects" type="r1:dataFormatStrongReferenceSet"/>
<xs:element name="formatSigningFormatObjects" type="r1:signingFormatStrongReferenceSet"/>
<xs:element name="formatTechnicalAttributeStringObjects" type="r1:technicalAttributeStringStrongReferenceSet"/>
<xs:element name="formatTechnicalAttributeInt8Objects" type="r1:technicalAttributeInt8StrongReferenceSet"/>
<xs:element name="formatTechnicalAttributeInt16Objects" type="r1:technicalAttributeInt16StrongReferenceSet"/>
<xs:element name="formatTechnicalAttributeInt32Objects" type="r1:technicalAttributeInt32StrongReferenceSet"/>
<xs:element name="formatTechnicalAttributeInt64Objects" type="r1:technicalAttributeInt64StrongReferenceSet"/>
<xs:element name="formatTechnicalAttributeUInt8Objects" type="r1:technicalAttributeUInt8StrongReferenceSet"/>
<xs:element name="formatTechnicalAttributeUInt16Objects" type="r1:technicalAttributeUInt16StrongReferenceSet"/>
<xs:element name="formatTechnicalAttributeUInt32Objects" type="r1:technicalAttributeUInt32StrongReferenceSet"/>
<xs:element name="formatTechnicalAttributeUInt64Objects" type="r1:technicalAttributeUInt64StrongReferenceSet"/>
<xs:element name="formatTechnicalAttributeFloatObjects" type="r1:technicalAttributeFloatStrongReferenceSet"/>
<xs:element name="formatTechnicalAttributeRationalObjects" type="r1:technicalAttributeRationalStrongReferenceSet"/>
<xs:element name="formatTechnicalAttributeAnyURIObjects" type="r1:technicalAttributeAnyURIStrongReferenceSet"/>
<xs:element name="formatTechnicalAttributeBooleanObjects" type="r1:technicalAttributeBooleanStrongReferenceSet"/>
<xs:element name="formatDateModifiedObject" type="r1:dateStrongReference"/>
<xs:element name="formatValueObject" type="r1:textualAnnotationStrongReference"/>
<xs:element name="formatTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="formatAudioFormatExtendedObjects" type="r1:audioFormatExtendedStrongReferenceSet"/>
<xs:element name="formatStartTimeObjects" type="r1:timeStrongReferenceSet"/>
<xs:element name="formatEndTimeObjects" type="r1:timeStrongReferenceSet"/>
<xs:element name="formatDurationTimeObjects" type="r1:timeStrongReferenceSet"/>
<xs:element name="formatMetadataFormatObjects" type="r1:metadataFormatStrongReferenceSet"/>
<xs:element name="formatTimecodeFormatObjects" type="r1:timecodeFormatStrongReferenceSet"/>
<xs:element name="videoFormatID" type="r0:UTF16String"/>
<xs:element name="videoFormatVersionId" type="r0:UTF16String"/>
<xs:element name="videoFormatName" type="r0:UTF16String"/>
<xs:element name="videoFormatDefinition" type="r0:UTF16String"/>
<xs:element name="videoBitRateObject" type="r1:dimensionStrongReference"/>
<xs:element name="videoMaxBitRateObject" type="r1:dimensionStrongReference"/>
<xs:element name="videoBitRateMode" type="r0:UTF16String"/>
<xs:element name="videoScanningFormat" type="r0:UTF16String"/>
<xs:element name="videoScanningOrder" type="r0:UTF16String"/>
<xs:element name="videoActiveLines" type="r0:UInt32"/>
<xs:element name="videoNoiseFilterFlag" type="r0:Boolean"/>
<xs:element name="videoNoiseFilterObject" type="r1:videoNoiseFilterStrongReference"/>
<xs:element name="video3DFlag" type="r0:Boolean"/>
<xs:element name="videoAspectRatioObjects" type="r1:aspectRatioStrongReferenceSet"/>
<xs:element name="videoFrameRateObject" type="r1:rationalStrongReference"/>
<xs:element name="videoHeightObjects" type="r1:heightStrongReferenceSet"/>
<xs:element name="videoWidthObjects" type="r1:widthStrongReferenceSet"/>
<xs:element name="videoEncodingObject" type="r1:typeGroupStrongReference"/>
<xs:element name="videoCodecObject" type="r1:codecStrongReference"/>
<xs:element name="videoTrackObjects" type="r1:trackStrongReferenceSet"/>
<xs:element name="videoPresenceFlag" type="r0:Boolean"/>
<xs:element name="videoRegionDelimXObject" type="r1:dimensionStrongReference"/>
<xs:element name="videoRegionDelimYObject" type="r1:dimensionStrongReference"/>
<xs:element name="videoFormatProfile" type="r0:UTF16String"/>
<xs:element name="videoFormatProfileLevel" type="r0:UTF16String"/>
<xs:element name="videoNote" type="r0:UTF16String"/>
<xs:element name="videoTechnicalAttributeStringObjects" type="r1:technicalAttributeStringStrongReferenceSet"/>
<xs:element name="videoTechnicalAttributeInt8Objects" type="r1:technicalAttributeInt8StrongReferenceSet"/>
<xs:element name="videoTechnicalAttributeInt16Objects" type="r1:technicalAttributeInt16StrongReferenceSet"/>
<xs:element name="videoTechnicalAttributeInt32Objects" type="r1:technicalAttributeInt32StrongReferenceSet"/>
<xs:element name="videoTechnicalAttributeInt64Objects" type="r1:technicalAttributeInt64StrongReferenceSet"/>
<xs:element name="videoTechnicalAttributeUInt8Objects" type="r1:technicalAttributeUInt8StrongReferenceSet"/>
<xs:element name="videoTechnicalAttributeUInt16Objects" type="r1:technicalAttributeUInt16StrongReferenceSet"/>
<xs:element name="videoTechnicalAttributeUInt32Objects" type="r1:technicalAttributeUInt32StrongReferenceSet"/>
<xs:element name="videoTechnicalAttributeUInt64Objects" type="r1:technicalAttributeUInt64StrongReferenceSet"/>
<xs:element name="videoTechnicalAttributeFloatObjects" type="r1:technicalAttributeFloatStrongReferenceSet"/>
<xs:element name="videoTechnicalAttributeRationalObjects" type="r1:technicalAttributeRationalStrongReferenceSet"/>
<xs:element name="videoTechnicalAttributeAnyURIObjects" type="r1:technicalAttributeAnyURIStrongReferenceSet"/>
<xs:element name="videoTechnicalAttributeBooleanObjects" type="r1:technicalAttributeBooleanStrongReferenceSet"/>
<xs:element name="imageFormatID" type="r0:UTF16String"/>
<xs:element name="imageFormatVersionId" type="r0:UTF16String"/>
<xs:element name="imageFormatName" type="r0:UTF16String"/>
<xs:element name="imageFormatDefinition" type="r0:UTF16String"/>
<xs:element name="imageOrientation" type="r0:UTF16String"/>
<xs:element name="imageAspectRatioObject" type="r1:rationalStrongReference"/>
<xs:element name="imageEncodingObject" type="r1:typeGroupStrongReference"/>
<xs:element name="imageCodecObject" type="r1:codecStrongReference"/>
<xs:element name="imageHeightObject" type="r1:dimensionStrongReference"/>
<xs:element name="imageWidthObject" type="r1:dimensionStrongReference"/>
<xs:element name="imagePresenceFlag" type="r0:Boolean"/>
<xs:element name="imageRegionDelimXObject" type="r1:dimensionStrongReference"/>
<xs:element name="imageRegionDelimYObject" type="r1:dimensionStrongReference"/>
<xs:element name="imageFormatProfile" type="r0:UTF16String"/>
<xs:element name="imageFormatProfileLevel" type="r0:UTF16String"/>
<xs:element name="imageNote" type="r0:UTF16String"/>
<xs:element name="imageTechnicalAttributeStringObjects" type="r1:technicalAttributeStringStrongReferenceSet"/>
<xs:element name="imageTechnicalAttributeInt8Objects" type="r1:technicalAttributeInt8StrongReferenceSet"/>
<xs:element name="imageTechnicalAttributeInt16Objects" type="r1:technicalAttributeInt16StrongReferenceSet"/>
<xs:element name="imageTechnicalAttributeInt32Objects" type="r1:technicalAttributeInt32StrongReferenceSet"/>
<xs:element name="imageTechnicalAttributeInt64Objects" type="r1:technicalAttributeInt64StrongReferenceSet"/>
<xs:element name="imageTechnicalAttributeUInt8Objects" type="r1:technicalAttributeUInt8StrongReferenceSet"/>
<xs:element name="imageTechnicalAttributeUInt16Objects" type="r1:technicalAttributeUInt16StrongReferenceSet"/>
<xs:element name="imageTechnicalAttributeUInt32Objects" type="r1:technicalAttributeUInt32StrongReferenceSet"/>
<xs:element name="imageTechnicalAttributeUInt64Objects" type="r1:technicalAttributeUInt64StrongReferenceSet"/>
<xs:element name="imageTechnicalAttributeFloatObjects" type="r1:technicalAttributeFloatStrongReferenceSet"/>
<xs:element name="imageTechnicalAttributeRationalObjects" type="r1:technicalAttributeRationalStrongReferenceSet"/>
<xs:element name="imageTechnicalAttributeAnyURIObjects" type="r1:technicalAttributeAnyURIStrongReferenceSet"/>
<xs:element name="imageTechnicalAttributeBooleanObjects" type="r1:technicalAttributeBooleanStrongReferenceSet"/>
<xs:element name="audioFormatID" type="r0:UTF16String"/>
<xs:element name="audioFormatVersionId" type="r0:UTF16String"/>
<xs:element name="audioFormatName" type="r0:UTF16String"/>
<xs:element name="audioFormatDefinition" type="r0:UTF16String"/>
<xs:element name="audioTrackConfiguration" type="r0:UTF16String"/>
<xs:element name="audioSamplingSize" type="r0:UInt16"/>
<xs:element name="audioSamplingType" type="r0:UTF16String"/>
<xs:element name="audioTotalNumberOfChannels" type="r0:UInt16"/>
<xs:element name="audioBitRateObject" type="r1:dimensionStrongReference"/>
<xs:element name="audioMaxBitRateObject" type="r1:dimensionStrongReference"/>
<xs:element name="audioBitRateMode" type="r0:UTF16String"/>
<xs:element name="audioSamplingRateObject" type="r1:rationalStrongReference"/>
<xs:element name="audioEncodingObject" type="r1:typeGroupStrongReference"/>
<xs:element name="audioCodecObject" type="r1:codecStrongReference"/>
<xs:element name="audioTrackObjects" type="r1:trackStrongReferenceSet"/>
<xs:element name="audioPresenceFlag" type="r0:Boolean"/>
<xs:element name="audioFormatProfile" type="r0:UTF16String"/>
<xs:element name="audioFormatProfileLevel" type="r0:UTF16String"/>
<xs:element name="audioNote" type="r0:UTF16String"/>
<xs:element name="audioTechnicalAttributeStringObjects" type="r1:technicalAttributeStringStrongReferenceSet"/>
<xs:element name="audioTechnicalAttributeInt8Objects" type="r1:technicalAttributeInt8StrongReferenceSet"/>
<xs:element name="audioTechnicalAttributeInt16Objects" type="r1:technicalAttributeInt16StrongReferenceSet"/>
<xs:element name="audioTechnicalAttributeInt32Objects" type="r1:technicalAttributeInt32StrongReferenceSet"/>
<xs:element name="audioTechnicalAttributeInt64Objects" type="r1:technicalAttributeInt64StrongReferenceSet"/>
<xs:element name="audioTechnicalAttributeUInt8Objects" type="r1:technicalAttributeUInt8StrongReferenceSet"/>
<xs:element name="audioTechnicalAttributeUInt16Objects" type="r1:technicalAttributeUInt16StrongReferenceSet"/>
<xs:element name="audioTechnicalAttributeUInt32Objects" type="r1:technicalAttributeUInt32StrongReferenceSet"/>
<xs:element name="audioTechnicalAttributeUInt64Objects" type="r1:technicalAttributeUInt64StrongReferenceSet"/>
<xs:element name="audioTechnicalAttributeFloatObjects" type="r1:technicalAttributeFloatStrongReferenceSet"/>
<xs:element name="audioTechnicalAttributeRationalObjects" type="r1:technicalAttributeRationalStrongReferenceSet"/>
<xs:element name="audioTechnicalAttributeAnyURIObjects" type="r1:technicalAttributeAnyURIStrongReferenceSet"/>
<xs:element name="audioTechnicalAttributeBooleanObjects" type="r1:technicalAttributeBooleanStrongReferenceSet"/>
<xs:element name="trackID" type="r0:UTF16String"/>
<xs:element name="trackName" type="r0:UTF16String"/>
<xs:element name="trackLanguageCode" type="r0:UTF16String"/>
<xs:element name="trackTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="dataFormatID" type="r0:UTF16String"/>
<xs:element name="dataFormatVersionID" type="r0:UTF16String"/>
<xs:element name="dataFormatName" type="r0:UTF16String"/>
<xs:element name="dataFormatDefinition" type="r0:UTF16String"/>
<xs:element name="dataTrackId" type="r0:UTF16String"/>
<xs:element name="dataTrackName" type="r0:UTF16String"/>
<xs:element name="dataTrackLanguageCode" type="r0:UTF16String"/>
<xs:element name="dataPresenceFlag" type="r0:Boolean"/>
<xs:element name="captioningObjects" type="r1:captioningStrongReferenceSet"/>
<xs:element name="subtitlingObjects" type="r1:subtitlingStrongReferenceSet"/>
<xs:element name="ancillaryDataObjects" type="r1:ancillaryDataStrongReferenceSet"/>
<xs:element name="dataCodecObject" type="r1:codecStrongReference"/>
<xs:element name="dataFormatProfile" type="r0:UTF16String"/>
<xs:element name="dataFormatProfileLevel" type="r0:UTF16String"/>
<xs:element name="dataNote" type="r0:UTF16String"/>
<xs:element name="dataTechnicalAttributeStringObjects" type="r1:technicalAttributeStringStrongReferenceSet"/>
<xs:element name="dataTechnicalAttributeInt8Objects" type="r1:technicalAttributeInt8StrongReferenceSet"/>
<xs:element name="dataTechnicalAttributeInt16Objects" type="r1:technicalAttributeInt16StrongReferenceSet"/>
<xs:element name="dataTechnicalAttributeInt32Objects" type="r1:technicalAttributeInt32StrongReferenceSet"/>
<xs:element name="dataTechnicalAttributeInt64Objects" type="r1:technicalAttributeInt64StrongReferenceSet"/>
<xs:element name="dataTechnicalAttributeUInt8Objects" type="r1:technicalAttributeUInt8StrongReferenceSet"/>
<xs:element name="dataTechnicalAttributeUInt16Objects" type="r1:technicalAttributeUInt16StrongReferenceSet"/>
<xs:element name="dataTechnicalAttributeUInt32Objects" type="r1:technicalAttributeUInt32StrongReferenceSet"/>
<xs:element name="dataTechnicalAttributeUInt64Objects" type="r1:technicalAttributeUInt64StrongReferenceSet"/>
<xs:element name="dataTechnicalAttributeFloatObjects" type="r1:technicalAttributeFloatStrongReferenceSet"/>
<xs:element name="dataTechnicalAttributeRationalObjects" type="r1:technicalAttributeRationalStrongReferenceSet"/>
<xs:element name="dataTechnicalAttributeAnyURIObjects" type="r1:technicalAttributeAnyURIStrongReferenceSet"/>
<xs:element name="dataTechnicalAttributeBooleanObjects" type="r1:technicalAttributeBooleanStrongReferenceSet"/>
<xs:element name="captioningFormatID" type="r0:UTF16String"/>
<xs:element name="captioningFormatName" type="r0:UTF16String"/>
<xs:element name="captioningSourceUri" type="r0:UTF16String"/>
<xs:element name="captioningTrackID" type="r0:UTF16String"/>
<xs:element name="captioningTrackName" type="r0:UTF16String"/>
<xs:element name="captioningLanguageCode" type="r0:UTF16String"/>
<xs:element name="closedCaptioningFlag" type="r0:Boolean"/>
<xs:element name="captioningTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="captioningFormatGroupObject" type="r1:formatGroupStrongReference"/>
<xs:element name="captioningPresenceFlag" type="r0:Boolean"/>
<xs:element name="subtitlingFormatID" type="r0:UTF16String"/>
<xs:element name="subtitlingFormatName" type="r0:UTF16String"/>
<xs:element name="subtitlingSourceUri" type="r0:UTF16String"/>
<xs:element name="subtitlingTrackID" type="r0:UTF16String"/>
<xs:element name="subtitlingTrackName" type="r0:UTF16String"/>
<xs:element name="subtitlingLanguageCode" type="r0:UTF16String"/>
<xs:element name="closedSubtitlingFlag" type="r0:Boolean"/>
<xs:element name="subtitlingTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="subtitlingFormatGroupObject" type="r1:formatGroupStrongReference"/>
<xs:element name="subtitlingPresenceFlag" type="r0:Boolean"/>
<xs:element name="ancillaryDataFormatId" type="r0:UTF16String"/>
<xs:element name="ancillaryDataFormatName" type="r0:UTF16String"/>
<xs:element name="DID" type="r0:UTF16String"/>
<xs:element name="SDID" type="r0:UTF16String"/>
<xs:element name="lineNumber" type="r0:UInt16"/>
<xs:element name="ANCWrappingTypeObject" type="r1:typeGroupStrongReference"/>
<xs:element name="signingFormatID" type="r0:UTF16String"/>
<xs:element name="signingFormatVersionID" type="r0:UTF16String"/>
<xs:element name="signingFormatName" type="r0:UTF16String"/>
<xs:element name="signingTrackID" type="r0:UTF16String"/>
<xs:element name="signingTrackName" type="r0:UTF16String"/>
<xs:element name="signingTrackLanguageCode" type="r0:UTF16String"/>
<xs:element name="signingSourceUri" type="r0:UTF16String"/>
<xs:element name="signingTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="signingFormatGroupObject" type="r1:formatGroupStrongReference"/>
<xs:element name="signingPresenceFlag" type="r0:Boolean"/>
<xs:element name="technicalAttributeStringValue" type="r0:UTF16String"/>
<xs:element name="technicalAttributeStringTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="technicalAttributeStringFormatGroupObject" type="r1:formatGroupStrongReference"/>
<xs:element name="technicalAttributeInt8Value" type="r0:Int8"/>
<xs:element name="technicalAttributeInt8TypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="technicalAttributeInt8Unit" type="r0:UTF16String"/>
<xs:element name="technicalAttributeInt16Value" type="r0:Int16"/>
<xs:element name="technicalAttributeInt16TypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="technicalAttributeInt16Unit" type="r0:UTF16String"/>
<xs:element name="technicalAttributeInt32Value" type="r0:Int32"/>
<xs:element name="technicalAttributeInt32TypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="technicalAttributeInt32Unit" type="r0:UTF16String"/>
<xs:element name="technicalAttributeInt64Value" type="r0:Int64"/>
<xs:element name="technicalAttributeInt64TypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="technicalAttributeInt64Unit" type="r0:UTF16String"/>
<xs:element name="technicalAttributeUInt8Value" type="r0:UInt8"/>
<xs:element name="technicalAttributeUInt8TypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="technicalAttributeUInt8Unit" type="r0:UTF16String"/>
<xs:element name="technicalAttributeUInt16Value" type="r0:UInt16"/>
<xs:element name="technicalAttributeUInt16TypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="technicalAttributeUInt16Unit" type="r0:UTF16String"/>
<xs:element name="technicalAttributeUInt32Value" type="r0:UInt32"/>
<xs:element name="technicalAttributeUInt32TypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="technicalAttributeUInt32Unit" type="r0:UTF16String"/>
<xs:element name="technicalAttributeUInt64Value" type="r0:UInt64"/>
<xs:element name="technicalAttributeUInt64TypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="technicalAttributeUInt64Unit" type="r0:UTF16String"/>
<xs:element name="technicalAttributeFloatValue" type="r0:Float"/>
<xs:element name="technicalAttributeFloatTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="technicalAttributeFloatUnit" type="r0:UTF16String"/>
<xs:element name="technicalAttributeRationalTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="technicalAttributeRationalValueObject" type="r1:rationalStrongReference"/>
<xs:element name="technicalAttributeAnyURIValue" type="r0:UTF16String"/>
<xs:element name="technicalAttributeAnyURITypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="technicalAttributeBooleanValue" type="r0:Boolean"/>
<xs:element name="technicalAttributeBooleanTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="dimensionValue" type="r0:UInt64"/>
<xs:element name="dimensionUnit" type="r0:UTF16String"/>
<xs:element name="packageSize" type="r0:UInt32"/>
<xs:element name="packageName" type="r0:UTF16String"/>
<xs:element name="packageLocatorObject" type="r1:locatorStrongReference"/>
<xs:element name="mimeTypeObject" type="r1:typeGroupStrongReference"/>
<xs:element name="hashObject" type="r1:hashStrongReference"/>
<xs:element name="mediumID" type="r0:UTF16String"/>
<xs:element name="mediumTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="codecName" type="r0:UTF16String"/>
<xs:element name="codecVendor" type="r0:UTF16String"/>
<xs:element name="codecVersion" type="r0:UTF16String"/>
<xs:element name="codecfamily" type="r0:UTF16String"/>
<xs:element name="codecIdentifier" type="r0:UTF16String"/>
<xs:element name="nominalValue" type="r0:UInt64"/>
<xs:element name="factorNumerator" type="r0:UInt64"/>
<xs:element name="factorDenominator" type="r0:UInt64"/>
<xs:element name="aspectRatioNumerator" type="r0:UInt64"/>
<xs:element name="aspectRatioDenominator" type="r0:UInt64"/>
<xs:element name="aspectRatioTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="heightValueObject" type="r1:dimensionStrongReference"/>
<xs:element name="heightTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="widthValueObject" type="r1:dimensionStrongReference"/>
<xs:element name="widthTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="partMetadataObject" type="r1:partMetadataStrongReference"/>
<xs:element name="partID" type="r0:UTF16String"/>
<xs:element name="partName" type="r0:UTF16String"/>
<xs:element name="partDefinition" type="r0:UTF16String"/>
<xs:element name="partStartTimeObject" type="r1:timeStrongReference"/>
<xs:element name="partDurationTimeObject" type="r1:timeStrongReference"/>
<xs:element name="partNumber" type="r0:UInt8"/>
<xs:element name="partTotalNumber" type="r0:UInt8"/>
<xs:element name="partTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="partMetaObject" type="r1:coreMetadataStrongReference"/>
<xs:element name="hashValueObject" type="r1:textualAnnotationStrongReference"/>
<xs:element name="hashFunctionTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="locatorValueObject" type="r1:textualAnnotationStrongReference"/>
<xs:element name="locatorTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="containerFormatId" type="r0:UTF16String"/>
<xs:element name="containerFormatName" type="r0:UTF16String"/>
<xs:element name="containerCodecObject" type="r1:codecStrongReference"/>
<xs:element name="containerFormatVersionId" type="r0:UTF16String"/>
<xs:element name="containerFormatProfile" type="r0:UTF16String"/>
<xs:element name="containerFormatProfileLevel" type="r0:UTF16String"/>
<xs:element name="containerNote" type="r0:UTF16String"/>
<xs:element name="containerTechnicalAttributeStringObjects" type="r1:technicalAttributeStringStrongReferenceSet"/>
<xs:element name="containerTechnicalAttributeInt8Objects" type="r1:technicalAttributeInt8StrongReferenceSet"/>
<xs:element name="containerTechnicalAttributeInt16Objects" type="r1:technicalAttributeInt16StrongReferenceSet"/>
<xs:element name="containerTechnicalAttributeInt32Objects" type="r1:technicalAttributeInt32StrongReferenceSet"/>
<xs:element name="containerTechnicalAttributeInt64Objects" type="r1:technicalAttributeInt64StrongReferenceSet"/>
<xs:element name="containerTechnicalAttributeUInt8Objects" type="r1:technicalAttributeUInt8StrongReferenceSet"/>
<xs:element name="containerTechnicalAttributeUInt16Objects" type="r1:technicalAttributeUInt16StrongReferenceSet"/>
<xs:element name="containerTechnicalAttributeUInt32Objects" type="r1:technicalAttributeUInt32StrongReferenceSet"/>
<xs:element name="containerTechnicalAttributeUInt64Objects" type="r1:technicalAttributeUInt64StrongReferenceSet"/>
<xs:element name="containerTechnicalAttributeFloatObjects" type="r1:technicalAttributeFloatStrongReferenceSet"/>
<xs:element name="containerTechnicalAttributeRationalObjects" type="r1:technicalAttributeRationalStrongReferenceSet"/>
<xs:element name="containerTechnicalAttributeAnyURIObjects" type="r1:technicalAttributeAnyURIStrongReferenceSet"/>
<xs:element name="containerTechnicalAttributeBooleanObjects" type="r1:technicalAttributeBooleanStrongReferenceSet"/>
<xs:element name="containerEncodingFormatGroupObject" type="r1:formatGroupStrongReference"/>
<xs:element name="audioFormatExtendedId" type="r0:UTF16String"/>
<xs:element name="audioFormatExtendedName" type="r0:UTF16String"/>
<xs:element name="audioFormatExtendedDefinition" type="r0:UTF16String"/>
<xs:element name="audioFormatExtendedVersion" type="r0:UTF16String"/>
<xs:element name="audioFormatExtendedPresenceFlag" type="r0:Boolean"/>
<xs:element name="audioProgrammeObjects" type="r1:audioProgrammeStrongReferenceSet"/>
<xs:element name="audioContentObjects" type="r1:audioContentStrongReferenceSet"/>
<xs:element name="audioObjectObjects" type="r1:audioObjectStrongReferenceSet"/>
<xs:element name="audioPackFormatObjects" type="r1:audioPackFormatStrongReferenceSet"/>
<xs:element name="audioChannelFormatObjects" type="r1:audioChannelFormatStrongReferenceSet"/>
<xs:element name="audioBlockFormatObjects" type="r1:audioBlockFormatStrongReferenceSet"/>
<xs:element name="audioStreamFormatObjects" type="r1:audioStreamFormatStrongReferenceSet"/>
<xs:element name="audioTrackFormatObjects" type="r1:audioTrackFormatStrongReferenceSet"/>
<xs:element name="audioTrackUIDObjects" type="r1:audioTrackUIDStrongReferenceSet"/>
<xs:element name="audioProgrammeId" type="r0:UTF16String"/>
<xs:element name="audioProgrammeName" type="r0:UTF16String"/>
<xs:element name="audioProgrammeLanguageCode" type="r0:UTF16String"/>
<xs:element name="audioProgrammeStartTimecode" type="r0:UTF16String"/>
<xs:element name="audioProgrammeEndTimecode" type="r0:UTF16String"/>
<xs:element name="audioProgrammeTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="audioProgrammeFormatGroupObject" type="r1:formatGroupStrongReference"/>
<xs:element name="audioProgrammeAudioContentIDRefObjects" type="r1:IDRefStrongReferenceSet"/>
<xs:element name="audioProgrammeLoudnessMetadataObject" type="r1:loudnessMetadataStrongReference"/>
<xs:element name="IDRefValue" type="r0:UTF16String"/>
<xs:element name="loudnessMethod" type="r0:UTF16String"/>
<xs:element name="integratedLoudness" type="r0:Float"/>
<xs:element name="loudnessRange" type="r0:Float"/>
<xs:element name="loudnessMaxTruePeak" type="r0:Float"/>
<xs:element name="loudnessMaxMomentary" type="r0:Float"/>
<xs:element name="loudnessMaxShortTerm" type="r0:Float"/>
<xs:element name="audioContentId" type="r0:UTF16String"/>
<xs:element name="audioContentName" type="r0:UTF16String"/>
<xs:element name="audioContentLanguageCode" type="r0:UTF16String"/>
<xs:element name="audioContentDialogueIndicator" type="r0:Boolean"/>
<xs:element name="audioContentAudioObjectIDRefObjects" type="r1:IDRefStrongReferenceSet"/>
<xs:element name="audioContentLoudnessMetadataObject" type="r1:loudnessMetadataStrongReference"/>
<xs:element name="audioObjectId" type="r0:UTF16String"/>
<xs:element name="audioObjectName" type="r0:UTF16String"/>
<xs:element name="audioObjectStartTimecode" type="r0:UTF16String"/>
<xs:element name="audioObjectDurationTimecode" type="r0:UTF16String"/>
<xs:element name="audioObjectDialogueIndicator" type="r0:Boolean"/>
<xs:element name="audioObjectImportance" type="r0:Int8"/>
<xs:element name="audioObjectInteract" type="r0:Boolean"/>
<xs:element name="audioObjectAudioPackFormatIDRefObjects" type="r1:IDRefStrongReferenceSet"/>
<xs:element name="audioObjectAudioObjectIDRefObjects" type="r1:IDRefStrongReferenceSet"/>
<xs:element name="audioObjectAudioTrackUIDRefObjects" type="r1:IDRefStrongReferenceSet"/>
<xs:element name="audioPackFormatId" type="r0:UTF16String"/>
<xs:element name="audioPackFormatName" type="r0:UTF16String"/>
<xs:element name="audioPackAbsoluteDistance" type="r0:Float"/>
<xs:element name="audioPackTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="audioPackImportance" type="r0:UTF16String"/>
<xs:element name="audioPackAudioChannelFormatIDRefObjects" type="r1:IDRefStrongReferenceSet"/>
<xs:element name="audioPackAudioPackFormatIDRefObjects" type="r1:IDRefStrongReferenceSet"/>
<xs:element name="audioChannelFormatId" type="r0:UTF16String"/>
<xs:element name="audioChannelFormatName" type="r0:UTF16String"/>
<xs:element name="audioChannelTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="audioChannelFrequency" type="r0:Float"/>
<xs:element name="audioChannelAudioBlockFormatObjects" type="r1:IDRefStrongReferenceSet"/>
<xs:element name="audioBlockFormatId" type="r0:UTF16String"/>
<xs:element name="audioBlockRTimecode" type="r0:UTF16String"/>
<xs:element name="audioBlockDurationTimecode" type="r0:UTF16String"/>
<xs:element name="audioBlockSpeakerLabel" type="r0:UTF16String"/>
<xs:element name="audioBlockPosition" type="r0:Float"/>
<xs:element name="audioBlockMatrixObject" type="r1:audioBlockMatrixStrongReference"/>
<xs:element name="audioBlockGain" type="r0:Float"/>
<xs:element name="audioBlockDiffuse" type="r0:Boolean"/>
<xs:element name="audioBlockWidth" type="r0:Float"/>
<xs:element name="audioBlockHeight" type="r0:Float"/>
<xs:element name="audioBlockDepth" type="r0:Float"/>
<xs:element name="audioBlockChannelLock" type="r0:Boolean"/>
<xs:element name="audioBlockJumpPosition" type="r0:Boolean"/>
<xs:element name="audioBlockEquation" type="r0:UTF16String"/>
<xs:element name="audioBlockDegree" type="r0:UTF16String"/>
<xs:element name="audioBlockOrder" type="r0:UTF16String"/>
<xs:element name="audioBlockMatrixCoefficientValue" type="r0:Float"/>
<xs:element name="audioBlockMatrixCoefficientGain" type="r0:Float"/>
<xs:element name="audioBlockMatrixCoefficientGainVar" type="r0:Boolean"/>
<xs:element name="audioBlockMatrixCoefficientPhase" type="r0:Float"/>
<xs:element name="audioBlockMatrixCoefficientPhaseVar" type="r0:Boolean"/>
<xs:element name="audioStreamFormatId" type="r0:UTF16String"/>
<xs:element name="audioStreamFormatName" type="r0:UTF16String"/>
<xs:element name="audioStreamFormatTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="audioStreamAudioChannelFormatIDRefObjects" type="r1:IDRefStrongReferenceSet"/>
<xs:element name="audioStreamAudioStreamFormatIDRefObjects" type="r1:IDRefStrongReferenceSet"/>
<xs:element name="audioStreamAudioTrackFormatIDRefObjects" type="r1:IDRefStrongReferenceSet"/>
<xs:element name="audioTrackFormatId" type="r0:UTF16String"/>
<xs:element name="audioTrackFormatName" type="r0:UTF16String"/>
<xs:element name="audioTrackFormatFormatGroupObject" type="r1:formatGroupStrongReference"/>
<xs:element name="audioTrackAudioStreamFormatIDRefObjects" type="r1:IDRefStrongReferenceSet"/>
<xs:element name="audioTrackUIDValue" type="r0:UTF16String"/>
<xs:element name="audioTrackUIDSampleRate" type="r0:UInt16"/>
<xs:element name="audioTrackUIDBitDepth" type="r0:UInt8"/>
<xs:element name="audioTrackMXFLookupObject" type="r1:audioMXFLookupStrongReference"/>
<xs:element name="audioTrackAudioTrackFormatIDRefObjects" type="r1:IDRefStrongReferenceSet"/>
<xs:element name="audioTrackAudioPackFormatIDRefObjects" type="r1:IDRefStrongReferenceSet"/>
<xs:element name="audioMXFLookupPackageUIDRefObject" type="r1:IDRefStrongReference"/>
<xs:element name="audioMXFLookupTrackIDRefObject" type="r1:IDRefStrongReference"/>
<xs:element name="audioMXFLookupChannelIDRefObject" type="r1:IDRefStrongReference"/>
<xs:element name="audioBlockMatrixCoefficientObjects" type="r1:audioBlockMatrixCoefficientStrongReferenceSet"/>
<xs:element name="timecode" type="r0:UTF16String"/>
<xs:element name="normalPlayTime" type="r0:UTF16String"/>
<xs:element name="editUnit" type="r0:UTF16String"/>
<xs:element name="textTime" type="r0:UTF16String"/>
<xs:element name="timeTypeGroupObject" type="r1:typeGroupStrongReference"/>
<xs:element name="metadataFormatId" type="r0:UTF16String"/>
<xs:element name="metadataFormatName" type="r0:UTF16String"/>
<xs:element name="metadataFormatVersionId" type="r0:UTF16String"/>
<xs:element name="metadataFormatDefinition" type="r0:UTF16String"/>
<xs:element name="metadataTrackObjects" type="r1:trackStrongReferenceSet"/>
<xs:element name="metadataTechnicalAttributeStringObjects" type="r1:technicalAttributeStringStrongReferenceSet"/>
<xs:element name="metadataTechnicalAttributeInt8Objects" type="r1:technicalAttributeInt8StrongReferenceSet"/>
<xs:element name="metadataTechnicalAttributeInt16Objects" type="r1:technicalAttributeInt16StrongReferenceSet"/>
<xs:element name="metadataTechnicalAttributeInt32Objects" type="r1:technicalAttributeInt32StrongReferenceSet"/>
<xs:element name="metadataTechnicalAttributeInt64Objects" type="r1:technicalAttributeInt64StrongReferenceSet"/>
<xs:element name="metadataTechnicalAttributeUInt8Objects" type="r1:technicalAttributeUInt8StrongReferenceSet"/>
<xs:element name="metadataTechnicalAttributeUInt16Objects" type="r1:technicalAttributeUInt16StrongReferenceSet"/>
<xs:element name="metadataTechnicalAttributeUInt32Objects" type="r1:technicalAttributeUInt32StrongReferenceSet"/>
<xs:element name="metadataTechnicalAttributeUInt64Objects" type="r1:technicalAttributeUInt64StrongReferenceSet"/>
<xs:element name="metadataTechnicalAttributeFloatObjects" type="r1:technicalAttributeFloatStrongReferenceSet"/>
<xs:element name="metadataTechnicalAttributeRationalObjects" type="r1:technicalAttributeRationalStrongReferenceSet"/>
<xs:element name="metadataTechnicalAttributeAnyURIObjects" type="r1:technicalAttributeAnyURIStrongReferenceSet"/>
<xs:element name="metadataTechnicalAttributeBooleanObjects" type="r1:technicalAttributeBooleanStrongReferenceSet"/>
<xs:element name="timecodeFormatId" type="r0:UTF16String"/>
<xs:element name="timecodeFormatName" type="r0:UTF16String"/>
<xs:element name="timecodeFormatVersionId" type="r0:UTF16String"/>
<xs:element name="timecodeFormatDefinition" type="r0:UTF16String"/>
<xs:element name="timecodeStartTimeObject" type="r1:timeStrongReference"/>
<xs:element name="timecodeTrackObjects" type="r1:trackStrongReferenceSet"/>
<xs:element name="timecodeTechnicalAttributeStringObjects" type="r1:technicalAttributeStringStrongReferenceSet"/>
<xs:element name="timecodeTechnicalAttributeInt8Objects" type="r1:technicalAttributeInt8StrongReferenceSet"/>
<xs:element name="timecodeTechnicalAttributeInt16Objects" type="r1:technicalAttributeInt16StrongReferenceSet"/>
<xs:element name="timecodeTechnicalAttributeInt32Objects" type="r1:technicalAttributeInt32StrongReferenceSet"/>
<xs:element name="timecodeTechnicalAttributeInt64Objects" type="r1:technicalAttributeInt64StrongReferenceSet"/>
<xs:element name="timecodeTechnicalAttributeUInt8Objects" type="r1:technicalAttributeUInt8StrongReferenceSet"/>
<xs:element name="timecodeTechnicalAttributeUInt16Objects" type="r1:technicalAttributeUInt16StrongReferenceSet"/>
<xs:element name="timecodeTechnicalAttributeUInt32Objects" type="r1:technicalAttributeUInt32StrongReferenceSet"/>
<xs:element name="timecodeTechnicalAttributeUInt64Objects" type="r1:technicalAttributeUInt64StrongReferenceSet"/>
<xs:element name="timecodeTechnicalAttributeFloatObjects" type="r1:technicalAttributeFloatStrongReferenceSet"/>
<xs:element name="timecodeTechnicalAttributeRationalObjects" type="r1:technicalAttributeRationalStrongReferenceSet"/>
<xs:element name="timecodeTechnicalAttributeAnyURIObjects" type="r1:technicalAttributeAnyURIStrongReferenceSet"/>
<xs:element name="timecodeTechnicalAttributeBooleanObjects" type="r1:technicalAttributeBooleanStrongReferenceSet"/>
<xs:element name="videoNoiseFilterVendorId" type="r0:UTF16String"/>
<xs:element name="videoNoiseFilterTypeGroupObject" type="r1:typeGroupStrongReference"/>
</xs:schema>
