imf-conversion-common/src/main/resources/xsd/errors.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2016 Netflix, Inc.

        This file is part of IMF Conversion Utility.

        IMF Conversion Utility is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        IMF Conversion Utility is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with IMF Conversion Utility.  If not, see <http://www.gnu.org/licenses/>.

-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://validation.imfutility.netflix.com"
           xmlns="http://validation.imfutility.netflix.com">

    <!--
      Root element.
    -->
    <xs:element name="errors">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="errorType" name="error" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="errorType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="levelType" name="level" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="levelType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="fatal"/>
            <xs:enumeration value="non-fatal"/>
            <xs:enumeration value="warning"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>